@import "vars";
@import "bourbon/bourbon";

body, html{
    -webkit-font-smoothing:antialiased;
    font-family:  $font-basic;
    font-weight: 300;
    background-color: #fff;
    background: #fff repeat url("/assets/images/home3/homebg.jpg");
}

#idx-header{
    box-shadow:none !important;
    background: transparent !important;
    padding-top: 50px;
    z-index: 2;
}

.words{
    position: absolute;
    text-align: center;
    width: 960px;
    left: 50%;
    top:50%;
    margin-top: -320px;
    margin-left: -480px;
    h1{
        font-size: 72px;
        color: #000;
        span.upper{
            color: #45636c;
            font-size: 28px;
        }
        span.you{
            color: #ff6b29;
        }
    }
    h2{
        color: #45636c;
        font-size: 25px;
        span{
            color: #ff6b29;
        }
    }

    a{
        display: block;
        clear: both;
        height: 40px;
        padding-top: 14px;
        width: 190px;
        background-color: #007eff;
        border: none;
        -webkit-border-radius: 27px;
        border-radius: 27px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
        margin: 50px auto;
        /*font-family:  "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;*/
        -webkit-font-smoothing: antialiased;
    }
    a:hover{
        background-color: #51a2f4;
    }
}


.mic{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: transparent no-repeat bottom center url('/assets/images/home3/home-mic.png');
}