@import "vars";
@import "bourbon/bourbon";

body, html{
    -webkit-font-smoothing:antialiased;
    font-family:  $font-basic;
    font-weight: 300;
}
.main-section-intro{
    background: transparent no-repeat center url('/assets/images/main/home-bg@1920.jpg');
}

.main-section-intro-cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.insec-intro #fp-nav li .active span, .fp-slidesNav .active span{
    background-color: #FFF ;
}
body.insec-intro #fp-nav span, .fp-slidesNav span{
    border-color: #FFF !important;
}


/* LOGO Animation*/

@-webkit-keyframes ANI-BFLASH {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes ANI-BFLASH {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes ANI-BFLASH {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes ANI-BFLASH {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.logo-ani{
  -webkit-animation: ANI-BFLASH 5s infinite ease-in-out; /* Safari 4+ */
  -moz-animation:    ANI-BFLASH 5s infinite ease-in-out; /* Fx 5+ */
  -o-animation:      ANI-BFLASH 5s infinite ease-in-out; /* Opera 12+ */
  animation:         ANI-BFLASH 5s infinite ease-in-out; /* IE 10+, Fx 29+ */
}


/*** Pageload ***/
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}

.pageload-overlay.show {
    visibility: visible;
}

.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
}

.pageload-overlay svg path {
    fill: #fff;
}

/* Normal Size */

#main-over-layer{
    height: 100%;
    width: 100%;
    display: block;
    background: transparent no-repeat center url('/assets/images/main/main-over.png');
    background-size: 100% 100%;
    z-index: 10;

    position: absolute;
    top: 0;
    left: 0;
}
#main-imac{
    height: 1195px;
    width: 100%;
    background: transparent no-repeat top url('/assets/images/main/imac.png');
    position: absolute;
    z-index: 1;

}

#main-iphone{
    height: 471px;
    width: 216px;
    background: transparent no-repeat center url('/assets/images/main/home-iphone5back-small.png');
    position: absolute;
    top: 50%;
    right: 0;
}

#main-ipad{
    height: 667px;
    width: 324px;
    background: transparent no-repeat center url('/assets/images/main/home-ipad1.png');
    position: absolute;
    top: 50%;
    left: -30px;
}
#main-logo-container{
    position: relative;
    margin: 0 auto;
    height: 230px;
    width: 215px;
}

img.main-logo,
img.main-logo-hl{
    position: absolute;
    left: 0;
    top:0;
    padding-left: -108px;
}
.main-section-apps{
    background-color: beige;
}

#main-container{
    height: 850px;
    width: 100%;
    z-index: 11;
    position: absolute;
    bottom: 0;
    text-align: center;
}
#main-icon-container{
    width: 1170px;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

#main-icon-container .icon-item{
    width: 160px;
    height: 180px;
    margin-left:7px;
    margin-top: 12px;
    display: block;
    float: left;
}
ul#main-icon-container li:nth-child(8){
  clear: both;
}
#main-icon-container .icon-item:hover .icon-title{
    color: rgba(255,255,255,1);

}
#main-icon-container .icon-item:hover{
    margin-top: 0px;
    height: 192px;
}
#main-icon-container .icon-item .icon-title{
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    padding-top: 10px;
}



h1.main-slogan{
    margin-top: -30px;
    font-size: 44px;
    color: #EEEEEE;
    font-weight: 200;
    line-height: 1.3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

h1.main-slogan em{
    font-weight: 600;
    color: #Fff;

}


/* Optimized for small screen*/

.sms #main-container{
    height: 650px;
}
.sms #main-logo-container{
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.sms #main-icon-container .icon-item img{
    height: 100px;
    width: 100px;
}

.sms #main-icon-container .icon-item:hover{
    margin-top: 0;
    height: 162px;
}
.sms #main-icon-container .icon-item .icon-title{
    font-size: 16px;
    padding-top: 5px;
}
.sms h1.main-slogan{
    font-size: 36px;
    margin-top: -60px;
}

.sms #main-imac{
    top:-437px ;
}

.sms #main-icon-container{
    width: 916px;
    padding-top: 20px;
}

.sms #main-icon-container .icon-item{
    width: 120px;
    height: 150px;
    margin-left:10px;
    margin-top: 12px;
}



/*****   Section UKUKEKE ************/
#sec-uke{
    overflow: hidden;
}
.main-section-uke{
    background-color: #f9cc41;
    background: transparent no-repeat top url('/assets/images/main/ukulele-sand.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1.uke-slogan{
    margin-top: 10px;
    font-size: 44px;
    color: #EEEEEE;
    font-weight: 200;
    line-height: 1.3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    padding-top: 120px;
}

h1.uke-slogan em{
    font-weight: 600;
    color: #Fff;
}

#ukeapp-icons-container{
    width: 960px;
    height: 160px;
    margin: 0 auto;
    padding-top: 20px;
}
#ukeapp-icons-container ul{
    height: 140px;
}
#ukeapp-icons-container ul li{
    display: inline-block;
    vertical-align: top;
    width: 110px;
    padding: 20px 10px 10px;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODRmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGZmZjYiIHN0b3Atb3BhY2l0eT0iMC4xNCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(rgba(0,132,255,0), rgba(0,255,246,0.14)); /* FF3.6+ */
    background: -webkit-linear-gradient(rgba(0,132,255,0),rgba(0,255,246,0.14)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(rgba(0,132,255,0),rgba(0,255,246,0.14)); /* Opera 11.10+ */
    background: -ms-linear-gradient(rgba(0,132,255,0),rgba(0,255,246,0.14)); /* IE10+ */
    background: linear-gradient(rgba(0,132,255,0),rgba(0,255,246,0.14)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000084ff', endColorstr='#2400fff6',GradientType=0 ); /* IE6-8 */

    background-repeat: no-repeat;
    background-position:0 160px !important;

    border-bottom: 1px solid rgba(85,255,255,0.0);
}
#ukeapp-icons-container ul li.active h3{
    color:rgba(85,255,255,1);
}
#ukeapp-icons-container ul li.active {
    background-position:0 !important;
    border-bottom: 1px solid rgba(85,255,255,1);
}
#ukeapp-icons-container ul li h3{
    font-size: 16px;
    color: #fff;
    padding-top: 5px;
}

.uke-oc-bg{
    background: transparent repeat-x bottom url('/assets/images/main/uke-oc.png');
    height: 730px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.uke-oc{
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.uke-app-sc-container{
    height: 70%;
    width: 960px;
    margin: 0 auto;
    bottom: 0;
    margin-left: -480px;
    left: 50%;
    position: absolute;
}

img.uke-app-sc{
    float: left;
    left: -30%;
    top: 0;
    position: absolute;
}

.uke-app-sc-right{
    float: right;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    text-align: right;
	text-shadow: 0 0 8px rgba(255,255,255,0.7);
}


.uke-app-sc-right h2{
    padding-top: 94px;
    font-size: 60px;
    font-weight: 600;
    color: #1b1b1b;
}
.uke-app-sc-right h3{
    font-size: 42px;
    font-weight: 200;
    color: #1b1b1b;
}

.uke-app-sc-item{
    opacity: 0;
    height: 100%;
}
.uke-app-sc-item.active{
    opacity: 1;

}
img#img-uke-app-sc-uke101.uke-app-sc{
    left: -21%;
    top:10%;
}
img#img-uke-app-sc-ukehero.uke-app-sc,
img#img-uke-app-sc-iuke.uke-app-sc{
    top: 10%;
    left: -72%;
}
img#img-uke-app-sc-chordtunes.uke-app-sc{
    top:8%;
    left: -72%;
}
img#img-uke-app-sc-uketube.uke-app-sc{
    left: -50%;
}


        /* Small Screen*/
        #sec-uke.sms img.uke-app-sc{
            -ms-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            margin-top: -50px;
            margin-left: 20px;
        }
        #sec-uke.sms img#img-uke-app-sc-ukehero.uke-app-sc,
        #sec-uke.sms img#img-uke-app-sc-chordtunes.uke-app-sc,
        #sec-uke.sms img#img-uke-app-sc-iuke.uke-app-sc{
            margin-left: 120px;
        }
        #sec-uke.sms img#img-uke-app-sc-uke101.uke-app-sc{
            margin-top: -90px;
            margin-left: 60px;
        }
        #sec-uke.sms .uke-oc-bg{
            height: 670px;
        }
        #sec-uke.sms .uke-slogan{
            margin-top: -30px;

        }
        #sec-uke.sms img#img-uke-app-sc-uketube.uke-app-sc{
            margin-left: 190px;
        }


        /*Tiny*/
        #sec-uke.tms img.uke-app-sc{
            -ms-transform: scale(0.6);
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            margin-top: -90px;
            margin-left: 10%;
        }
        #sec-uke.tms img.uke-app-sc{
            -ms-transform: scale(0.6);
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            margin-top: -100px;
            margin-left: 120px;
        }
        #sec-uke.tms img#img-uke-app-sc-ukehero.uke-app-sc,
        #sec-uke.tms img#img-uke-app-sc-chordtunes.uke-app-sc,
        #sec-uke.tms img#img-uke-app-sc-iuke.uke-app-sc{
            margin-left: 230px;
        }
        #sec-uke.tms .uke-oc-bg{
            height: 600px;
        }
        #sec-uke.tms .uke-slogan{
            margin-top: -40px;

        }
        #sec-uke.tms img.icon-app-store{
            bottom: 20px;
            padding-right: 10px;
        }
        #sec-uke.tms .uke-app-sc-right h2{
            padding-top: 154px;
            font-size: 50px;
            padding-right: 10px;
        }
        #sec-uke.tms .uke-app-sc-right h3{
            font-size: 32px;
            padding-right: 10px;
        }
        #sec-uke.tms img#img-uke-app-sc-uketube.uke-app-sc{
            margin-left: 220px;
        }


/*Uke Apps Fix*/
#uke-app-sc-id-chordtunes h3{
    padding-left: 50px;
}
#uke-app-sc-id-ukehero h3{
    padding-left: 150px;
}
#uke-app-sc-id-iuke h3{
    padding-left: 160px;
}
#uke-app-sc-id-uketube h3{
    padding-left: 60px;
}
/*****   Section Figure ************/
.main-section-figure{
    background-color: #a8c0d5;
    background: repeat-x top url('/assets/images/main/app-download-bg.png');
	background-size: contain;
}
.figure-ghand{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: no-repeat top url('/assets/images/main/ghand.png');
    margin-left: -50px;
}
.figure-text-container{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.figure-text-container h2{
    padding-top: 540px;
    font-size: 56px;
    color: #ffffff;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
	background: no-repeat 50% 35% url('/assets/images/main/app-download-bulb.png');
}
.figure-text-container h2 em{
    font-weight: 600;

}
.figure-text-container h3{
    padding-top: 50px;
    color: #ffffff;
    font-weight: 100;
    font-size: 36px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.figure-text-container h3 em{
    font-family: "entypo";
    color: #dd4915;
    font-size: 60px;
    vertical-align: middle;
}
.figure-text-container h3 em.beat{
    color: #cd4413;
}
.figure-reviews{
    height: 200px;
    width: 960px;
	margin-top: 30px;
    position: relative;
    display: table;
}
.figure-left-quo,
.figure-right-quo{
    color: #183b4f;
    font-size: 140px;
	font-family: Georgia;
    position: absolute;
    font-weight: 100;
}
.figure-left-quo{
    top: 0;
    left: 0;
}
.figure-right-quo{
    right: 0;
    top: 140px;
}
.figure-reviews p{
    width: 800px;
    font-size: 36px;
    color: #183b4f;
    text-align: left;
    padding-left: 100px;
    display: table-cell;
    vertical-align: middle;
}
#quo-content{
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.2;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
    /* Small Size */
    #sec-figure.sms .figure-ghand{
        background-size: 40%;
    }

    /* Tiny */
    #sec-figure.tms .figure-ghand{
        background-size: 45%;
    }
    #sec-figure.tms .figure-text-container h2{
        padding-top: 300px;
    }
    #sec-figure.tms .figure-text-container h3{
        padding-top: 20px;
    }

/*****   Section Press ************/
.main-section-press{
    background: rgb(246, 246, 246) repeat  url('/assets/images/main/n2.png');
}
.press-container{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.press-slogan{
    padding-top: 250px;
    text-align: center;
}
.press-slogan h2{
    font-size: 50px;
    color: #1b1b1b;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    margin-bottom: 20px;

}

.press-slogan h2 em{
    font-weight: 400;
}
.press-team{
    padding-top: 40px;
    height: 300px;
    width: 320px;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
}
.press-and{
    padding-top: 20px;
    height: 320px;
    width: 50px;
    display: inline-block;

    font-size: 30px;
    color: #1b1b1b;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);

    vertical-align:middle;
}
.press-and p.top{

}
.press-and p.bottom{
    padding-top: 225px;
}
.press-team h3{
    padding-top: 30px;
    font-size: 30px;
    color: #1b1b1b;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.press-team h3 em{
    font-weight: 400;
}

.press-hiring {
    clear: both;
    width: 960px;
    height: 100px;
    text-align: center;
    text-indent: -19999px;
    text-align: center;
}
.press-hiring h3{
    height: 94px;
    width: 401px;
    background: transparent no-repeat bottom url("/assets/images/main/icon-still-hiring.png");
    margin: 0 auto;
}
.press-hiring h3:hover{
    background-position: top;
}


div.press-footer{
    width: 960px;
    height: 50px;
    position: absolute;
    bottom: 150px;
}
div.press-footer li{
    font-size: 24px;
    color: #1b1b1b;
    font-weight: 300;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    display: inline-block;
    padding: 0 20px;
}
div.press-footer li a{
    color: #333;
}
div.press-footer li a:hover{
    color: #666;
}
div.press-footer .copyright{
    font-size: 16px;
    color: #aaa;
}
    /* For Small and Tiny Screen */
    #sec-press.sms .press-slogan{
        padding-top: 130px;
    }
    #sec-press.tms .press-slogan{
        padding-top: 100px;
    }
    #sec-press.sms .press-footer{
        bottom: 100px;
    }
    #sec-press.sms .press-footer li{
        font-size: 18px;
    }

    #sec-press.tms .press-footer{
        bottom: 0px;
    }
    #sec-press.tms .press-footer li{
        font-size: 18px;
    }
    #sec-press.tms .press-footer .social,
    #sec-press.tms .press-footer .copyright{
        display: none;
    }
/*****   Section Apps ************/



/*** Disable Fullpage for iPad ***/
html.ipad,
html.tiny{
    overflow: auto !important;
}
html.ipad div.section,
html.tiny div.section{
    height: 1200px !important;
    min-width: 1024px !important;
    position: relative;
    overflow: hidden;
}

html.ipad div#sec-intro.section,
html.tiny div#sec-intro.section{
    height: 750px !important;
}





/* App Store Icons */

.learn-more::before{
    height: 37px;
    width: 200px;
    content: "C";
    color: #2a65c3;
    font-family: "EUMWeb";
    font-size: 48px;
}
.learn-more:hover{
    opacity: 0.8;
}

.appstore-icon-uke{
    position: absolute;
    right: 0;
    bottom: 90px;
    opacity: 0.8;
}
.appstore-icon-uke::before{
    content: "A";
    text-indent: 0 !important;
    font-size: 90px;
    font-family: "EUMWeb";
    color: #1b1b1b;
}
.appstore-icon-uke:hover{
    opacity: 1;
}