
.uke-app-sc-item.active{
  display: inherit;
}

.uke-app-sc-item{
  display: none;
}

ul#menu-items-container li#menu-item-products sub{
    margin-top: -15px !important;
}

a.link-video::after{
  line-height: 19px;
}