@import "vars";
@import "mixins";

html {
  min-width: 980px;
  height: 100%;
  font-family:  $font-basic;
  font-weight: 300;
}

a {
  color: #5CC3F6;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  font-size: 24px;

  &:hover {
    color: #43a6ff;
  }

  &.link-video {
    text-shadow: none;
    margin-top: 30px;

    &::after {
      content: "▶";
      width: 40px;
      height: 40px;
      font-size: 50px;
      padding-top: -5px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      border: solid 1px #5CC3F6;
      font-family: "entypo";
      display: inline-block;
      margin-left: 10px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      text-indent: 3px;

      &:hover {
        border: solid 1px #43a6ff;
      }
    }
  }
}

em {
  font-weight: 600;
  &.orange {
    color: $em-orange;
  }

  &.green {
    color: $em-green;
  }
}


div.v2-footer {
    height: 130px;
}

#idx-header {
    position: absolute;
    background: transparent;
    box-shadow: none;
}

.firstpage-container{
    height: 100%;
    width: 100%;
    position: relative;
}

.page-container {
  overflow: hidden;
  width: 100%;
  background: rgb(255, 255, 255) repeat url('/assets/images/main/n2.png');
  font-weight: 300;
  min-width: 980px;
  min-height: 200px;
  color: #1b1b1b;
  font-family: "proxima-nova" "helveticaneue-light", "Helvetica Neue", Helvetica, "Hiragino Sans GB" , arial, sans-serif;
}

/* Section */
.section {
  text-align: center;
  overflow: hidden;

  h1, h2 {
    font-weight: 300;
    font-size: 39px;
    line-height: 120%;
  }

  &.dark-background {
    color: #FFF;
  }

  .slogan {
    padding-top: 200px;
    
    &.second {
      padding-top: 80px;
    }
  }

  .slogan-desc {
    padding-top: 20px;
    font-size: 24px;
    line-height: 150%;
  }

  p {
    font-size: 24px;
    line-height: 130%;
    padding: 50px 0;
  }
}


/* first */

.first {
  background: transparent left top url('/assets/images/pmedu/highlight-bg.jpg');
  @include background-size(cover);
  height: 918px;
  overflow: hidden;

  font-weight: 200;
  color: #FFFFFF;

  .head {
    width: 1320px;
    margin: 142px auto 0;
    @include clearfix;
  }

  .iphone {
    background: transparent no-repeat left top url('/assets/images/pmedu/highlight-iphone.png');
    width: 759px;
    height: 776px;
    float: left;
  }

  .title {
    height: 100%;
    padding-top: 250px;
    float: left;
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
  }
}

/* Introducation */

.introduction {
  height: 800px;
  background: transparent no-repeat center center url('/assets/images/pmedu/part1-bg.png');

  h1, h2 {
    font-size: 60px;
    color: #444;
  }
}

/* Features */
.features {
  background: #F3F3F3;
  text-align: left;
  height: 598px;
  overflow: visible;

  .box {
    margin: 0 auto;
    width: 1280px;
    @include clearfix;
  }

  .image {
    width: 444px;
    height: 687px;
    float: left;
    position: relative;
    margin-bottom: -90px;

    img {
      margin-left: 30px;
      position: absolute;
      top: -89px;
    }
  }

  .slogan {
    padding-top: 100px;
  }

  .slogan-desc {
    line-height: 110%;
  }

  .text {
    float: left;
    margin-left: 80px;

    ul {
      margin: 20px 0 25px;
      list-style: disc inside;
      font-size: 24px;
      line-height: 150%;
    }
  }
}

/* Lessons */
.lessons {
  position: relative;
  height: 787px;
  width: 100%;
  background: transparent repeat-x center center url('/assets/images/pmedu/part3-bg.jpg');

  .box {
    margin: 0 auto;
    @include clearfix;
    width: 1550px;
    overflow: hidden;
  }

  .text {
    text-align: right;
    float: left;
    margin-left: 30px;
  }

  .image {
    background: transparent no-repeat top left url('/assets/images/pmedu/part3-device.png');
    float: right;
    width: 917px;
    height: 570px;
    margin-top: 110px;
    margin-right: 30px;
  }
}

.trainer-block-container {
  position: relative;
  height: 330px;
  width: 590px;
  margin: 60px auto 40px;
  background-color: #f1cc5a;
  background: transparent no-repeat top left url('/assets/images/pm2/trainerbg.png');
}

.note-container {
  position: absolute;
  height: 102px;
  width: 304px;
  top: 54px;
  left: 169px;
}

.wave-container {
  position: absolute;
  height: 83px;
  width: 390px;
  left: 167px;
  top:254px;
  background: transparent no-repeat top left url('/assets/images/pm2/wave-dark.png');
  opacity: 0;
}

.beats-container {
  position: absolute;
  height: 42px;
  width: 200px;
  top: 198px;
  left: 166px;
  text-align: left;

  .beat {
    height: 42px;
    width: 32px;
    background-color: #1f94ff;
    margin-right: 8px;
    display: inline-block;
  }
}

.wave-hl-container {
  position: absolute;
  height: 83px;
  width: 0;
  left: 167px;
  top:254px;
  background: transparent no-repeat top left url('/assets/images/pm2/wave-light.png');
  border-right: solid 1px #ff4200;
}

/* Download */
.download {
  .slogan {
    font-weight: 400;
    margin-bottom: 20px;
  }
}

/* Contact */

.contact {
  display: block;
  width: 600px;
  border: 1px solid #1B1B1B;
  border-radius: 15px;
  margin: 60px auto 80px;
  text-decoration: none;
  color: #1b1b1b;

  &:hover {
    color: rgba(27,27,27,0.8);
    border-color: rgba(27,27,27,0.8);
    cursor: pointer;
  }

  .slogan {
    font-weight: 400;
    padding-top: 20px;
    line-height: 1.2;
  }

  p {
    font-weight: 400;
    padding: 0 0 20px;
  }
}

/* Pop up*/
#popup-wrap {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(1,1,1,0.8);
  top: 0;
  left: 0;
  cursor: url("/assets/images/close.png") 14 14, default;

  .video-popup {
    height: 576px;
    width: 890px;
    cursor: default;
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top:  -288px;
    margin-left: -445px;
    text-align: center;
  }

  .video-title {
    font-weight: 200;
    padding: 20px 0;
    font-size: 36px;
    color: #1b1b1b;
  }

  .mejs-container{
    margin: 0 auto;
  }

  .video-container {
    height: 853px;
    width: 480px;
  }
}
