
//Fix Pro Metronome on ipad

img.daily-training{
  margin-left: -28%;
}

img.supported-techs{
  margin-left: (-1063px + 980px)/1;
}
#Sync .three-rows-container{
  margin-left: (-1170px + 980px)/2;
}

.poly-closeup{
  background-size: 100% !important;
  -ms-background-position-y: -134px !important;
  background-position-y: -134px !important;
}
.poly{
  height: 700px;
}