@import "bourbon/bourbon";
//For iPhone and other mobile device

.firstpage-container div.iphone{
  @include transform(scale(0.8));
  left: 60%;
}
.firstpage-container div.right{
  left: 55%;
}
.firstpage-container div.right h1{
  font-size: 48px;
}
.firstpage-container div.right h2{
  font-size: 28px;
}

.section h1, .section h2, .section h3{
  font-size: 40px;
}

.section .slogan-desc{
  font-size: 20px;
}
ul.feature-container{
  width: 100%;
}
ul.feature-container li.feature-item{
  width: 47%;
}


