//For iPhone and other mobile device

.firstpage-container div.iphone{
  left: 80% !important;
}

.section h1, .section h2, .section h3{
  font-size: 40px;
}

.section .slogan-desc{
  font-size: 20px;
}