// Vars

// 2.0 Highlight Color
$link-blue:#1f94ff;
// Highlight Hover Color
$link-blue-light:#5cc3f6;

$logo-blue:#54ceea;

// fur pm edu
$em-orange:#F8752E;
$em-green:#7FB335;

$font-basic:"proxima-nova",  "helveticaneue-light", "Helvetica Neue", Helvetica, arial, sans-serif;

//Enable Bourbon
@import "bourbon/bourbon";
