.header {
    min-height: 900px;
}

.header .bg {
    width: 100%;
    height: 900px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: 50%;
    background-position: 50% bottom;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out;
    -webkit-transition: opacity 1000ms ease-in-out;
}

.app {
    margin-top: 62px;
    text-align: center;
    position: relative;
}

.app .link-app-store {
    background: url(../images/drh-app-store-link-top.png) no-repeat 0 0;
    margin-top: 140px;
    width: 153px;
    height: 54px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

    .app .link-app-store:hover {
        -moz-box-shadow: 0 0 24px rgba(104,199,255, 0.7);
        -webkit-box-shadow: 0 0 24px rgba(104,199,255, 0.7);
        box-shadow: 0 0 24px rgba(104,199,255, 0.7);
    }

    .app .link-app-store,
    .app .link-app-store:hover {
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }


.app .center {
    background: url(../images/drh-app.png) center 0 no-repeat;
    height: 756px;
}

.section-0 {
    text-align: center;
    background: url(../images/drh-section-0-bg.jpg) 0 bottom repeat-x;
}

    .section-0 .center {
        background: url(../images/drh-feature-0.jpg) center bottom no-repeat;
        height: 720px;
    }

    .section-0 .intro {
        padding: 35px 0 0 0;
        width: 755px;
        margin: 0 auto;
    }

    .section-0 .title {
    }

.section-1 {
    text-align: right;
}

    .section-1 .center {
        height: 700px;
        position: relative;
    }

    .section-1 .pic {
        position: absolute;
        top: 90px;
        left: -80px;
        background: url(../images/drh-feature-1.jpg) right bottom no-repeat;
        width: 506px;
        height: 611px;
    }

    .section-1 .intro {
        padding: 300px 0 0 480px;
        width: 486px;
        font-size: 16px;
    }

    .section-1 .title {
        font-size: 36px;
    }

.section-2 {
    text-align: center;
}

    .section-2 .center {
        background: url(../images/drh-feature-2.jpg) center bottom no-repeat;
        height: 750px;
    }

    .section-2 .intro {
        padding: 50px 0 0 0;
        width: 665px;
        margin: 0 auto;
        font-size: 16px;
    }

    .section-2 .title {
        font-size: 36px;
    }

.section-3 {
    text-align: center;
}

    .section-3 .center {
        height: 700px;
        position: relative;
    }

    .section-3 .daw-slide-wrap {
        position: absolute;
        left: -380px;
        top: 0;
        width: 1229px;
        height: 522px;
        background: url(../images/drh-feature-3.jpg) left bottom no-repeat;
    }

    .section-3 .ipad-highlight {
        position: absolute;
        top: 81px;
        right: 359px;
        width: 167px;
        height: 206px;
        background: url(../images/ipad-highlight.png) 0 0 no-repeat;
    }

    #daw-slide {
        position: absolute;
        width: 388px;
        height: 291px;
        right: 402px;
        top: 118px;
    }
        #daw-slide .wmuSlider,
        #daw-slide .wmuSlider .wmuSliderWrapper,
        #daw .wmuSlider article {
            width: 388px;
            height: 291px;
        }

    .section-3 .intro {
        text-align: left;
        position: absolute;
        width: 422px;
        font-size: 16px;
        left: 550px;
        top: 150px;
    }

    .section-3 .title {
        font-size: 36px;
    }

    .section-3 .daw-nav {
        margin-top: 520px;
    }

.section-4 {
    text-align: left;
    background-color: #1b2021;
}

    .section-4 .center {
        height: 410px;
        position: relative;
    }

    .section-4 .pic {
        position: absolute;
        z-index: 0;
        bottom: -30px;
        right: -85px;
        width: 651px;
        height: 652px;
        background: url(../images/drh-feature-4.png) 0 0 no-repeat;
    }

    .section-4 .intro {
        padding: 60px 0 0 20px;
        width: 461px;
        font-size: 16px;
        position: relative;
        z-index: 1;
    }

    .section-4 .title {
        font-size: 32px;
    }

    .section-4 .bcs-video-wrap {
        width: 853px;
        height: 480px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -426px;
        display: none;
        background-color: #ccc;
    }

    .section-4 .bcs-video-wrap .btn-close{
        position: absolute;
        top: -12px;
        right: -12px;
    }

.section-5 {
    text-align: center;
    background: url(../images/drh-sofa-bg.jpg) 0 0 repeat-x;
}

    .section-5 .center {
        width: 1160px;
        height: 634px;
        background: url(../images/drh-feature-5.jpg) center bottom no-repeat;
    }

    .section-5 .intro {
        padding-top: 60px;
        width: 712px;
        margin: 0 auto;
        font-size: 16px;
        color: #666;
    }

    .section-5 .title {
        font-size: 36px;
        color: #457c97;
    }

.section-6 {
    text-align: center;
}

    .section-6 .center {
        height: 614px;
        position: relative;
    }

    .section-6 .pic {
        position: absolute;
        top: 130px;
        left: -80px;
        width: 1080px;
        height: 480px;
        background: url(../images/drh-feature-6.jpg) 0 0 no-repeat;
    }

    .section-6 .link-app-store {
        position: absolute;
        top: 330px;
        right: 40px;
        background: url(../images/drh-app-store-link-bottom.png) no-repeat 0 0;
        width: 224px;
        height: 73px;
    }

    .section-6 .link-app-store:hover {
        background-position: -224px 0;
    }

.pg-drh-docs .header .bg,
.pg-drh-faq .header .bg,
.pg-drh-rtpmidi .header .bg,
.pg-drh-bonjour .header .bg,
.pg-drh-videos .header .bg {
    opacity: 1;
    background-image: url(../images/drh-header.jpg);
}

.pg-drh-docs .doc,
.pg-drh-faq .faq,
.pg-drh-rtpmidi .download,
.pg-drh-bonjour .download,
.pg-drh-videos .doc {
    padding: 40px 0 10px 0;
    position: relative;
    text-align: center;
    width: 830px;
    margin: 50px auto 0;
    background-color: rgba(0,0,0,0.5);
}

    .doc a,
    .faq a {
        color: #47c2ef;
    }

    .doc .title,
    .download .title,
    .faq .title {
        display: block;
        color: #e5ca6c;
        font-size: 26px;
        margin-bottom: 15px;
    }

    .doc .desc {
        font-size: 16px;
        color: #ccc;
        margin-bottom: 50px;
    }

    .doc table {
        width: 100%;
        color: #fff;
        font-size: 15px;
        text-align: left;
    }

        .doc caption {
            color: #ccc;
            margin-bottom: 15px;
        }

        .doc td,
        .doc th {
            height: 35px;
            line-height: 35px;
            padding: 0 10px;
        }

        .doc tbody td {
            border-top: 1px solid #28282c;
        }

        .doc th {
            color: #777;
        }

        .doc th:first-child {
            padding-left: 80px;
            width: 180px;
        }

        .doc td:first-child {
            font-weight: bold;
            padding-left: 80px;
            width: 180px;
        }

        .doc th:last-child,
        .doc td:last-child {
            padding-right: 60px;
        }

        .doc tfoot td:first-child {
            text-align: center;
            padding: 20px 0 0 0;
            font-weight: normal;
        }

.pg-drh-docs .ft-nav,
.pg-drh-videos .ft-nav {
    display: none;
}


.pg-drh-docs .social-medias,
.pg-drh-videos .social-medias {
    margin-top: 0;
}

.pg-drh-videos .videos {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.pg-drh-videos .play-list {
    margin-top: 60px;
}

.pg-drh-faq .faq {
    width: 1000px;
}

.pg-drh-faq dl {
    text-align: left;
    margin: 40px;
}

.pg-drh-faq dt {
    font-size: 18px;
    color: #E5CA6C;
}

.pg-drh-faq dd {
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0 50px 30px;
}

.pg-drh-faq dt::first-letter {
    font-size: 24px;
    padding-right: 5px;
    margin-top: -5px;
    float: left;
}

.container .download {
    padding: 80px 0;
}
.download p {
    font-size: 16px;
    line-height: 1.5;
}
