html{
    min-width: 980px;
    height: 100%;

}
body{
    background: transparent no-repeat center url('/assets/images/drumloops/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
div.v2-footer{
    height: 130px;
}
.drumloops-container{
    height: 100%;
    width: 100%;
    position: relative;
    background: repeat  url('/assets/images/main/n3.png');
    overflow: hidden;
}


.iphone{
    position: absolute;
    left: 50%;
    top:64px;
    background: transparent no-repeat url('/assets/images/drumloops/iphone.png');
    height: 1728px;
    width: 896px;
    background-size: 50%;
    margin-left: -450px;
}

.right{
    position: absolute;
    left: 50%;
    top: 100px;
    height: 100%;
    width: 50%;
}

.right h1,
.right h2{
    font-weight: 200;
    color: #FFFFFF;
    font-size: 30px;
}

.right h1{
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding-top: 45%;
}
.right h2{
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    padding-top: 15px;
}

.right a{
    opacity: 0.8;
    padding-top: 60px;
    height: 63px;
    display: inline-block;
}

.right a:hover{
    opacity: 1;
}

.vjs-error-display,
.vjs-control-bar,
.vjs-big-play-button,
.vjs-loading-spinner,
.vjs-text-track-display,
.vjs-poster{
    display: none !important;
}

#big-video-vid_html5_api{
    display: none;
}


/* First Page Container */
.firstpage-container{
    height: 100%;
    width: 100%;
    position: relative;
}

.page-container{
    width: 100%;
    background: rgb(246, 246, 246) repeat  url('/assets/images/main/n2.png');
    font-weight: 300;
    min-width: 980px;
    min-height: 200px;
    color: #1b1b1b;
    font-family: "proxima-nova" "helveticaneue-light", "Helvetica Neue", Helvetica, "Hiragino Sans GB" , arial, sans-serif;
}
#big-video-wrap{
    position: absolute;
}
#idx-header.glow{
    position: absolute;
}

/* Section */
.section{
    text-align: center;
}
.section h1,
.section h2,
.section h3{
    font-weight: 200;
    font-size: 48px;
    line-height: 150%;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

.section.dark-background{
     color: #FFF;
}
.section.dark-background h1,
.section.dark-background h2,
.section.dark-background h3{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.section em{
    font-weight: 400;
}

.slogan{
    padding-top: 200px;
}
.section  .slogan-desc{
    padding-top: 20px;
    font-size: 28px;
    line-height: 150%;
}


.loops-style{
    padding: 100px 0 200px;
}

.supported-techs{
    padding: 50px;
}

/* Section Change Tempo */
.change-tempo{
    height: 900px;
    background: transparent no-repeat url("/assets/images/drumloops/drumloops-style-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.change-tempo .slogan{
    padding-top: 100px;
}
.change-tempo-ipad{
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent no-repeat center url("/assets/images/drumloops/changetempo.png");
    background-position: 50% 50px;
}

.soundcloud{
    padding: 50px 100px 50px;
    max-width: 900px;
}


.demo-tracks.slogan{
    padding-top: 70px;
}

.download.section{
    padding-bottom: 50px;
}
.download.section .slogan{
    padding-top: 100px;
    padding-bottom: 25px;
}
.download.section img{
    padding-bottom: 15px;
}
.download.section a:hover{
    opacity: 0.8;
}


.appstore-icon::before{
    content: "a";
    text-indent: 0 !important;
    font-size: 70px;
    font-family: "EUMWeb";
    color: #fff;
    display: block;
    margin-bottom: 100px;
}
.appstore-icon{
    line-height: 200%;
    display: block;
    overflow: hidden;
}

.appstore-icon-bottom::after{
    content: "A";
    text-indent: 0 !important;
    font-size: 90px;
    font-family: "EUMWeb";
    color: #1b1b1b;
    margin-bottom: 100px;
}
.appstore-icon-bottom::after:hover{
    opacity: 0.8;
}

.section p{
    font-size: 20px;
    line-height: 130%;
    padding: 50px 0;
}