body{
    background: rgb(246, 246, 246) repeat  url('/assets/images/main/n2.png');
    font-weight: 300;
    min-width: 980px;
    min-height: 500px;
    color: #1b1b1b;
    font-family: "proxima-nova" "helveticaneue-light", "Helvetica Neue", Helvetica, "Hiragino Sans GB" , arial, sans-serif;
}
html{
	min-width: 980px;
}

.imprint-header{
    padding-top: 30px;
    width: 100%;
    height: 270px;
    /*background-color: rgba(0,0,0,0.04);*/
    text-align: center;
}

.imprint-section-container{
    clear: both;
    margin: 0 auto;
    width: 960px;
    position: relative;
    text-align: center;
    text-align: center;
    padding-bottom: 80px;
}


.slogan-container{
    width: 100%;
    height: 50px;
    text-align: center;

}
.slogan-container h1{
    padding-top: 30px;
    font-size: 50px;
    font-weight: 200;
    color: #1b1b1b;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.slogan-container h1 em{
    font-weight: 500;
}


.imprint-section-container h2{
    font-size: 30px;
    padding: 30px 10px 10px;
}
.imprint-section-container p{
    font-size: 24px;
    font-weight: 200;
}

.imprint-section-container a{
    color: #007eff;
}