            <div class="v2-footer">
                <ul>
                    <!--Team      Press      Jobs      Imprint      Contact      Support-->
                    <li><a href="/about/">About</a></li>
                    <li><a href="/jobs/">Jobs</a></li>
                    <li><a href="/imprint/">Imprint</a></li>
                    <li><a href="mailto:team+web@eumlab.com?subject=Hi">Contact</a></li>
                    <li><a href="http://support.eumlab.com">Support</a></li>
                </ul>
                <div class="social basic-ani">
                    <ul class="spicesocialwidget">
                      <li class="facebook">
                        <a rel="nofollow" href="https://www.facebook.com/eumlab" target="_blank" title="facebook">
                        </a>
                      </li>

                      <li class="twitter">
                        <a rel="nofollow" href="http://twitter.com/eumlab" target="_blank" title="twitter"></a>
                      </li>

                      <li class="vimeo">
                        <a rel="nofollow" href="http://www.vimeo.com/eumlab" target="_blank" title="vimeo"></a>
                      </li>

                      <li class="youtube">
                        <a rel="nofollow" href="http://www.youtube.com/eumlab" target="_blank" title="youtube"></a>
                      </li>
                    </ul>

                </div>
                <div class="copyright">
                    <p>Designed by EUMLab - Xanin Technology GmbH with love. <br/>All Rights Reserved.</p>
                </div>
            </div>
