            <div class="v2-footer">
                <ul>
                    <!--Team      Press      Jobs      Imprint      Contact      Support-->
                    <!--<li><a href="/about/">关于</a></li>-->
                    <li><a href="/jobs/">加入我们</a></li>
                    <li><a href="http://zen.eumlab.com/">博客</a></li>
                    <li><a href="/imprint/">联系我们</a></li>
                    <!--<li><a href="mailto:team+web@eumlab.com?subject=Hi"></a></li>
                    <li><a href="http://support.eumlab.com">支持</a></li>-->
                </ul>
                <div class="social basic-ani">
                    <ul class="spicesocialwidget">
                      <!--<li class="weibo">
                        <a rel="nofollow" href="https://www.facebook.com/eumlab" target="_blank" title="facebook">
                        </a>
                      </li>

                      <li class="wechat">
                        <a rel="nofollow" href="http://twitter.com/eumlab" target="_blank" title="twitter"></a>
                      </li>-->

                      <li class="vimeo">
                        <a rel="nofollow" href="http://www.vimeo.com/eumlab" target="_blank" title="vimeo"></a>
                      </li>

                      <li class="youtube">
                        <a rel="nofollow" href="http://www.youtube.com/eumlab" target="_blank" title="youtube"></a>
                      </li>
                    </ul>

                </div>
                <div class="copyright">
                    <p>由 EUMLab 喷爱设计  浙ICP备案15026670 </p>
                </div>
            </div>