<div class="social-medias">
    <a class="email" href="mailto:eum+web@eumlab.com" title="Email">EUM's Email</a>
    <a class="facebook" target="_blank" href="http://facebook.com/eumlab" title="Facebook">EUM's Facebook</a>
    <a class="twitter" target="_blank" href="http://twitter.com/eumlab" title="Twitter">EUM's Twitter</a>
    <a class="youtube" target="_blank" href="http://www.youtube.com/user/yxshawn" title="Youtube">EUM's Youtube</a>
    <!--<a class="join" target="_blank" href="/hiring/" title="Hiring">Hiring</a>-->
</div>
