<div class="topbar">
    <div class="center">
        <div class="site-title">
            <h1><a href="/" title="back home">EUM lab</a></h1>
            <h2>Unleash your music talent</h2>
        </div>
        {% include "_nav.html" %}
    </div>
</div>

{% if nav == 'drh' %}
<div class="subnav-wrap">
    <div class="center">
        <ul class="subnav">
            <li{% if subnav == 'drh' %} class="active"{% endif %}><a href="/daw-remote-hd/">Features</a></li>
            <li{% if subnav == 'drh-videos' %} class="active"{% endif %}><a href="/daw-remote-hd/videos/">Video Tutorials</a></li>
            <li{% if subnav == 'drh-faq' %} class="active"{% endif %}><a href="/daw-remote-hd/faq/">FAQ</a></li>
            <li{% if subnav == 'drh-docs' %} class="active"{% endif %}><a href="/daw-remote-hd/docs/">Control Surface Documents</a></li>
        </ul>
    </div>
</div>
{% endif %}
