<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if me != None %}
    <meta name="apple-itunes-app" content="app-id={{ me.id }}">
    <meta name="twitter:card" content="app">
{% if me.iphone %}    <meta name="twitter:app:id:iphone" content="id{{ me.id }}">{% endif %}
{% if me.iPad %}    <meta name="twitter:app:id:ipad" content="id{{ me.id }}">{% endif %}
{% if me.aurl != "" %}        <meta name="twitter:app:url:iphone" content="{{ me.aurl }}://start"/>
    <meta name="twitter:app:url:ipad" content="{{ me.aurl }}://start"/>{% endif %}
{% endif %}
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=1;">
    {% endif %}

    {% block meta %}{% endblock %}

    <title>{% block wholetitle %}{% block title %}{% endblock %} - EUMLab {% endblock %}</title>

    <link rel="index" title="EUMLab - Music APPs on iPhone iPad" href="http://eumlab.com/">
    <link rel="canonical" href="http://eumlab.com/">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="EUMLab">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
    <meta name="application-name" content="EUMLab">
    <link href="/assets/styles/style.css" rel="stylesheet" />
    {% block style %}{% endblock %}
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
           filter: none;
        }
    </style>
    <![endif]-->



</head>
<body class="{% block bodystyle %}{% endblock %}">
    <!--[if lt IE 8]>
    <div class="fuck-ie">
        <span class="face">:(</span>Your browser is too old. Please use <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a> or <a href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home" target="_blank">update your IE browser</a>
    </div>
    <![endif]-->
    {% block body %}{% endblock %}

    <script src="/assets/scripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/scripts/eum.js"></script>
    <script type="text/javascript" src="//use.typekit.net/agm3gqh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        <script>
            $(window).on('load orientationchange', function() {
                /*
                // home page height is not enough
                if ($('.pg-home').length) {
                    var container = $('html, body, .container');

                    if (window.innerWidth > window.innerHeight) {
                        container.height($(window).height() + 124);
                    } else {
                        container.height($(window).height());
                    }
                }

                setTimeout(function() {
                    window.scrollTo(0, 1);
                }, 0);
                */
            });
        </script>
    {% endif %}

    {% block script %}{% endblock %}
    {% block feedbackscript %}

    {% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-389402-11', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
