{% extends 'base.html' %}

{% block title %}Chordtunes{% endblock %}

{% block meta %}
    <meta name="apple-itunes-app" content="app-id=643809129">
    <meta name="twitter:card" content="app">
<meta name="twitter:app:id:iphone" content="id643809129">
<meta name="twitter:app:id:ipad" content="id643809129">
{% endblock %}

{% block script %}
    <script src="/assets/scripts/chordtunes.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/chordtunes.css" rel="stylesheet" />
{% endblock %}

{% block bodystyle %}darktheme {% endblock %}
{% block body %}
{% include "_nav2.html" %}
<div class="container pg-chordtunes">
    <div class="header">
        <div class="bg"></div>

        <div class="app">
            <div class="center">
                <div class="pic">
                </div>
                <h2 class="app-title">Chordtunes</h2>
                <a href="http://itunes.apple.com/app/id643809129?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Chord Tunes from the App Store">Available on the App Store</a>
            </div>
        </div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">What is Chordtunes</h3>
                <p class="desc">Fast, easy chord creation.</p>
                <p class="desc">ChordTunes lets you make chord sheets for guitar, ukulele, banjo and mandolin. It's like an assistant that helps you create great tabs for your music. Drawing up chords and lyrics is as easy as typing.</p>
                <p class="desc">Use it anywhere and for anything you can imagine: <br/>At music lessons<br/>For learning the chords in a friend's tune<br />To draw up your own compositions<br />To build a custom chord book of your favorite songs<br/>To share chord sheets with your band, your friends, or anyone at all.</p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">A specialist built for chord creation</h3>
                <p class="desc">The specialized keyboard provides a convenient way to select and enter chords.</p>
                <p class="desc">Include lyrics if you want and output the results in three different formats.</p>
                <p class="desc">Best of all, Chordtunes comes with over 1,700 chords!</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Create once, display everywhere</h3>
                <p class="desc">No need to worry about changing charts when you need a new instrument.</p>
                <p class="desc">Chordtunes will display the chord sheet for any instrument the app supports, <br />automatically converting it to the tuning and type you select.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Transposition is easy</h3>
                <p class="desc">Change your chord sheets into any key you might need.</p>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Sharing with anyone</h3>
                <p class="desc">ChordTunes can create PDFs in 3 different formats for preview, printing and sharing.</p>
                <p class="desc">Save and import the results to and from your sharing service (Dropbox, Box, etc.)</p>
                <p class="desc">The sky is the limit for what you can create with Chordtunes.</p>
            </div>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="pic"></div>
            <a href="http://itunes.apple.com/app/id643809129?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Pro Metronome from APP Store">Available on the App Store</a>
        </div>
    </div>
    </div>
    {% include "_footer2.html" %}
{% endblock %}
