<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Chord Cloud Agreement</title>
    <link href="/assets/styles/chord-cloud-agreement.css" rel="stylesheet" />
</head>
<body>

<img class="logo" src="/assets/images/chord-cloud/logo.png" width="225" height="135">

<p class="desc">
Chord Cloud is a database comprising of thousands of Chord Set. Through use of the <b>Chordec</b> technology invented by EUMLab, the number of sets is increasing rapidly every day.
</p>

<h2>Basic Terms</h2>

<ul class="terms">
    <li>By tapping the Agree button below, means you agree to the basic terms and will be joined to the beta testing of Chord Cloud service. </li>
<li>During the beta testing, you are allowed to download and share any chord sets from the Chord Cloud service. </li>
<li>The content downloaded will not be deleted after the beta testing. </li>
<li>You will not copy any portion of the App or documentation, except to the extent necessary to perform beta testing.  </li>
<li>You will not reverse engineer, decompile or disassemble the App, the API that the App used or any portion of it. </li>
<li>EUMLab will delete the content without notifying if the content: does not have right to use the copyrighted material or violates the law in any way. </li>
<li>EUMLab reserves the right to the changes of the service. These including the appearance, content and pricing.  </li>
<li>EUMLab reserves the right to the change of the test period. </li>

</ul>

</body>
</html>