{% extends 'base.html' %}

{% block title %}DAW Remote HD{% endblock %}

{% block script %}
    <script src="/assets/scripts/drh.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/drh.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-drh">
    <div class="header">
        <div class="bg"></div>
        {% include "_topbar.html" %}
        <div class="app">
            <div class="center">
                <h2 class="app-title">DAW Remote HD</h2>
                <a href="#" class="link-app-store">Available on the App Store</a>
            </div>
        </div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="intro">
                <h3 class="title">Everywhere in your Studio</h3>
                <p class="desc">Taking full advantage of the iPad revolutionary features, DAW Remote brings you a portable control surface with full functions. Now you have full control to your DAW everywhere in your studio.</p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Stay with your Inspiration</h3>
                <p class="desc">Just bring the portable iPad and stay with your instrument. </p>
                <p class="desc">You can now concentrate on your inspiration and record yourself smoothly. No need to move between instrument and computer to manage your recording.</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="intro">
                <h3 class="title">Easy access to the DAW</h3>
                <p class="desc">If you didn't have a control surface before, DAW Remote HD should be the best choice as your first one. Embedded into the iPad, DAW Remote is inexpensive but professional. It helps you control the DAW remotely and wirelessly, so you can have a far more smooth workflow and concentrate on composing.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="daw-slide-wrap">
                <div id="daw-slide"></div>
                <div class="ipad-highlight"></div>
            </div>
            <div class="intro">
                <h3 class="title">Compatibility Maximum</h3>
                <p class="desc">DAW Remote employs Mackie Control and HUI Protocol which support most of the DAWs. We made optimized layouts for more than 10 DAWs by now. And we are still working on more DAWs.</p>
                <p class="desc link"><a href="/daw-remote-hd/docs/" target="_blank">See more about compatibility</a>
            </div>
            <div class="daw-nav">
                <a href="javascript:;" data-count="2" data-type="pt">ProTools</a>
                <a href="javascript:;" data-count="3" data-type="logic">Logic</a>
                <a href="javascript:;" data-count="3" data-type="live">Live</a>
                <a href="javascript:;" data-count="3" data-type="cubase">Cubase|Nuendo</a>
                <a href="javascript:;" data-count="3" data-type="fl">FL Studio</a>
                <a href="javascript:;" data-count="3" data-type="sonar">Sonar</a>
                <a href="javascript:;" data-count="2" data-type="s1">Studio One</a>
                <a href="javascript:;" data-count="3" data-type="other">Others</a>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div id="bcs-pic" class="pic"></div>
            <div id="bcs-intro" class="intro">
                <h3 class="title">Build your own Control Surface</h3>
                <p class="desc">Many love customizing, and so do us! Maybe you don't like so many buttons on the screen, maybe you want some bigger buttons or timecode, or maybe you want to change the label and color on the buttons. Making an layout fit yourself most is easy and fast with DAW Remote HD.</p>
                <p class="desc link"><a id="btn-play-bcs-video" href="javascript:;">Play Video ▸</a>
            </div>
            <div id="bcs-video-wrap" class="bcs-video-wrap"><span class="btn-close">&times;</span></div>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="intro">
                <h3 class="title">Mixing on your Sofa</h3>
                <p class="desc">Traditional Control surface looks great indeed, but you are stuck there when mixing, aren't you? With DAW Remote you can relax on the sofa and mix there with your iPad!</p>
            </div>
        </div>
    </div>
    <div class="section section-6">
        <div class="center">
            <div class="pic"></div>
            <a href="#" class="link-app-store">app store</a>
        </div>
    </div>
    {% include "_footer.html" %}
</div>
{% endblock %}
