{% extends 'base.html' %}

{% block title %}DAW Remote{% endblock %}

{% block meta %}
    <meta name="apple-itunes-app" content="app-id=435417441">
{% endblock %}

{% block script %}
    <script src="/assets/scripts/daw-remote.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/daw-remote.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-dr">
    <div class="header">
        <div class="bg"></div>
        {% include "_topbar.html" %}
        <div class="app">
            <div class="center">
                <h2 class="app-title">DAW Remote</h2>
                <a href="http://itunes.apple.com/app/id435417441?ls=1&mt=8" target="_blank" class="link-app-store" title="Download DAW Remote from APP Store">Available on the App Store</a>
            </div>
        </div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">What is DAW Remote</h3>
                <p class="desc">DAW Remote is a <em>wireless</em> DAW(Digital Audio Workstation) software controller, especially optimized for <em>Apple Logic®</em>, <em>AVID ProTools®</em> and <em>Ableton Live®</em>. DAW Remote 2.0 is compatible with both <em>MAC</em> and <em>Windows</em>.</p>
                <p class="desc">Instead of getting stuck in front of your computer to compose, record, and produce music/audio, you can use your iPhone/iPod with DAW Remote to control DAW functions anywhere in your studio (wirelessly). Why? Because let's face it, <em>wires suck!</em></p>
                <p class="desc">Not only does DAW Remote work for Logic, ProTools and Live, it’s also compatible with other popular DAW softwares such as <em>FinalCut</em>, <em>Audition</em> which support one of <em>Mackie HUI</em>, <em>Logic Control</em> and <em>Mackie Control protocols</em>.</p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">DAW Remote is a <em>5-stars</em> collector</h3>
                <div class="desc">
                    <blockquote>“ I have spent a lot of money on remotes on both APP and hardware based and this is  by far THE best !!!! ”</blockquote>
                    <p class="from">- Mohamad Makki <span>(a 12-year ProTools user)</span></p>
                </div>
                <div class="desc">
                    <blockquote>“ It has just the right number of controls to be useful during a recording session ”</blockquote>
                    <p class="from">- Seb4242</p>
                </div>
                <div class="desc">
                    <blockquote>“ It’s great to be able to remotely control logic when I’m sitting behind the kit recording myself. No more back and forth ! ”</blockquote>
                    <p class="from">- David Wallenbaughv</p>
                </div>
                <div class="desc">
                    <blockquote>“ I love the simplicity of this app. It’s a wonderful tool to have and it works great and is very easy to use. Customer service is great too. They got back to me right away when I need help with something. ”</blockquote>
                    <p class="from">- BigPocketMusic</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">It's Lightweight</h3>
                <p class="desc">DAW Remote only has simple but essential functions. It's designed for you to save your life instead of wasting time on uncountable buttons and knobs which may never been used.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">It's Wireless</h3>
                <p class="desc">DAW Remote use air not wire. You can use your DAW Remote everywhere in your studio without worrying about wires.</p>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">All about Timelinet</h3>
                <p class="desc">Your notes and emotions lie on your timeline. You play and play again just to make sure everything is all right. DAW Remote is just designed to help. JOG and Scrub mode can help you to control playback quickly and efficiently.</p>
            </div>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Recording for the best!</h3>
                <p class="desc">With Punch Recording function, you can practice as many times as you like before performing the final take. This allows you to make the preceding song section to "get into the groove."</p>
            </div>
        </div>
    </div>
    <div class="section section-6">
        <div class="center">
            <div class="intro">
                <h3 class="title">Features List</h3>
                <ul class="desc">
                    <li><em>New DAWs Support</em> It supports Apple Logic, AVID ProTools and Ableton Live now!</li>
                    <li><em>Cross Platform</em> Compatible with MAC and Windows.</li>
                    <li><em>Lightweight and well designed</em> Essential functions to accelerate your workflow.</li>
                    <li><em>Track Control Record</em>, Mute, Solo, VOL, PAN, and Track Selector.</li>
                    <li><em>Track Level Meter indicator.</em></li>
                    <li><em>Markers Control</em> Add, Delete markers. Quickly jump to previous and next marker.</li>
                    <li><em>Playback Control</em> Rewind, FWD, Play, Record, Stop.</li>
                    <li><em>Jog/Scrub Wheel Mode</em> Quickly seek the right location of your song.</li>
                    <li><em>Punch Recording</em> Add, Delete and Edit Circle and Punch, Easy to do recording remotely.</li>
                    <li><em>Zoom Mode</em> Zoom editor/mix view remotely.</li>
                    <li><em>Visualized Information Display</em> Read your Time Code, Track Name, Pan and Volume information directly.</li>
                    <li><em>Other Utilities</em> such as: Undo,Redo,Enter,Save,Cancel,Click,etc.</li>
                    <li><em>Powerful Instructions</em> Help and FAQ to help you setup connection much easier.</li>
                    <li><em>Use Wi-Fi to connect with host computer.</em></li>
                    <li><em>No extra drivers required.</em></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-7">
        <div class="center">
            <div class="intro">
                <h3 class="title">Videos</h3>
                <div class="videos clearfix">
                    <div class="video">
                        <div class="video-wrap">
                            <iframe width="300px" height="170px" src="http://www.youtube.com/embed/cfO-Wa5hNoI?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            <div class="video-mask"></div>
                        </div>
                        <p class="desc">In Apple Logic</p>
                    </div>
                    <div class="video">
                        <div class="video-wrap">
                            <iframe width="300px" height="170px" src="http://www.youtube.com/embed/GCQru_DD2hE?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            <div class="video-mask"></div>
                        </div>
                        <p class="desc">In AVID ProTools</p>
                    </div>
                    <div class="video">
                        <div class="video-wrap">
                            <iframe width="300px" height="170px" src="http://www.youtube.com/embed/_XfwxBpbXFk?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            <div class="video-mask"></div>
                        </div>
                        <p class="desc">In Ableton Live</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-8">
        <div class="center">
            <div class="pic"></div>
            <a href="http://itunes.apple.com/app/id435417441?ls=1&mt=8" target="_blank" class="link-app-store" title="Download DAW Remote from APP Store">Available on the App Store</a>
        </div>
    </div>
    {% include "_footer.html" %}
</div>
{% endblock %}
