{% extends 'base.html' %}

{% block title %}Bonjour - DAW Remote HD{% endblock %}

{% block style %}
    <link href="/assets/styles/drh.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-drh-bonjour">
    <div class="header">
        <div class="bg"></div>
        {% include "_topbar.html" %}
        <div class="download">
            <h2 class="title">Download Apple Bonjour form:</h2>
            <p><a href="http://support.apple.com/kb/DL999" target="_blank">Download from Apple official website</a></p>
            <p><a href="/payload/BonjourPSSetup.zip" target="_blank">Download from our website</a> (version:v2.0.2)</p>
            <p><a href="http://dl.dropbox.com/u/102818/payload/BonjourPSSetup.zip" target="_blank">Download from Dropbox</a> (version:v2.0.2)</p>
        </div>
    </div>
    {% include "_footer.html" %}
</div>
{% endblock %}
