{% extends 'base.html' %}

{% block title %}Drum Tuner{% endblock %}

{% block meta %}
    <meta name="apple-itunes-app" content="app-id=834487922">
{% endblock %}


{% block style %}
    <link href="/assets/styles/drum-tuner.css" rel="stylesheet" />
{% endblock %}

{% block script %}
    <script src="/assets/scripts/jquery.threesixty.js"></script>
    <script src="/assets/scripts/guitar-toolkit.js"></script>
{% endblock %}
{% block bodystyle %}darktheme {% endblock %}
{% block body %}
{% include "_nav2.html" %}
<div class="container pg-drumtuner">
<div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">Coming Soon</h3>
            </div>
            </div>
        </div>
    </div>
    </div>
    {% include "_footer2.html" %}
{% endblock %}
