{% extends 'base.html' %}

{% block title %}Guitar Toolkit{% endblock %}

{% block meta %}
    <meta name="apple-itunes-app" content="app-id=723205500">
{% endblock %}


{% block style %}
    <link href="/assets/styles/guitar-toolkit.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-guitar">
    <div class="header">
        <div class="bg"></div>
        {% include "_topbar.html" %}
        <div class="app">
            <div class="center">
                <h2 class="app-title">Guitar Toolkit</h2>
                <a href="http://itunes.apple.com/app/id723205500?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Guitar Toolkit from APP Store">Available on the App Store</a>
                <div class="mainpic"></div>
                <div class="pic"></div>

            </div>
        </div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">What is Guitar Toolkit</h3>
                <p class="desc"><br/>This is a collection of essential tools for aspiring guitar players. It consists of three tools you will use daily:</p>
                <ol class="desc">
                    <li><em>1. An extremely accurate tuner</em></li>
                    <li><em>2. A precision metronome, along with strumming patterns</em></li>
                    <li><em>3. Interactive chord tabs with audio examples</em></li>
                </ol>
                <p class="desc">With Guitar Toolkit, your favorite guitar tool is in your pocked, no matter where you are.</p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Extremely Accurate Tuner</h3>
                <p class="desc">Guitar Toolkit features a chromatic tuner which helps you get your guitar in tune in mere seconds. Colored tuning bars quickly guide you to a great tuning.
<br/>An extra meter makes you an expert who can go from great to perfect tuning. Audio samples of strings in tune allow you to tune by ear, great for developing your musical hearing.
<br/>Most importantly, it is highly accurate (up to ±1/1000 of a semitone, i.e. ±0.1 cent precise). </p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Precision Metronome</h3>
                <p class="desc">The metronome benefits from EUM's RTP (Real-Time Playback) technology. It is extremely precise (±20μs).</p>
                <p class="desc">The metronome’s so-called „pendulum mode“ is just like your old traditional metronome.
You can follow the beat easily, even in silent mode. With the help of the dial wheel, changing tempo is really simple.</p>
                <p class="desc">Changing time signatures is only two taps away. Set it to the time signature you need. Up to 8 built-in metronome tones guide your rhythm and the 13 built-in strumming patterns will teach you how to play along easily.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Interactive Guitar Tabs</h3>
                <p class="desc">The chord tabs contain <em>288 chords</em>, more chords than you will probably ever need, including Major, Minor, 6, 7, Minor 7, Major 7, Major 9, sus 4, etc.</p>
                <p class="desc">Not only can you see the tabs, you can also hear what they sound like. This is quite useful for beginners who learn chords but also for advanced users who are looking for inspiration. The chords can be sorted by both note and key signature.</p>
                <p class="desc">In key signature mode, you don't need to switch notes to show the expected chords. All related chords will be displayed on one page.</p>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="pic"></div>
            <span class="app-name "></span>
            <a href="http://itunes.apple.com/app/id723205500?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Guitar Toolkit from APP Store">Available on the App Store</a>
        </div>
    </div>
    {% include "_footer.html" %}
</div>
{% endblock %}
