{% extends 'base.html' %}

{% block title %}Hiring{% endblock %}

{% block script %}
    <script src="/assets/scripts/hiring.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/hiring.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-hiring">
    <div class="section section-0">
        <div class="center">
            <div class="site-title">
                <h1><a href="/" title="back home">EUM lab</a></h1>
                <h2>Unleash your music talent</h2>
            </div>
            <div class="slogan">
                <p>It's time to rock together!</p>
                <p>To help people unleash their music talent!</p>
            </div>
            <div class="job-offer">
                <p class="jobs-name"><span>iOS Developer</span><span>UX/UI Designer</span></p>
                <div class="link-jobs-wrap">
                    <a href="javascript:;" class="link-jobs">see our current job offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">About EUM Lab</h3>
                <p class="desc">We love music! We play music!<br />It's happy to bula bula.</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="intro">
                <h3 class="title">Break the Wall</h3>
                <p class="desc">What kills your inspiration?</p>
                <p class="desc">9:00 AM in the office?</p>
                <p class="desc">Traffic Jam?</p>
                <p class="desc">bulabula?</p>
                <p class="desc">You don't need to be sucked in one place to let your inspiration run out.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">Unleash people's music Talent!</h3>
                <p class="desc">That is what we do.</p>
                <p class="desc">See what our users are saying</p>
            </div>
            <blockquote>
                I'm now that king of tempo I am a master at guitar and I use this app 4 hours a day every day I play guitar 7 hours a day and this is what is making me better!
            </blockquote>
            <blockquote>
                As a user of tuners for the past 30 years, this is the best, fastest, most accurate and most enjoyable to use so far!
            </blockquote>
            <blockquote>
                A perfect App that is too easy to get up and running, and is the perfect addition to any studio! Awesome performance, and it also looks beautiful. Hardware like this might cost over $150!
            </blockquote>

        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="intro">
                <h3 class="title">我们在寻找这样的牛人</h3>
                <p class="desc">和我们一起用习惯的方式和舒服的姿势开发高品质的音乐App<br />帮助全球3亿人释放他们的音乐才能吧！</p>
            </div>
            <ul class="skills">
                <li data-key="b">Skilled in 3D &amp; AE</li>
                <li data-key="a">Skilled in graphic design</li>
                <li class="active" data-key="g">Skilled in Objective-C</li>
                <li class="active" data-key="e">Aelegant UI and UX purs</li>
                <li class="active" data-key="d">Have experience with DSP</li>
                <li class="active" data-key="c">Familiar with music terms</li>
            </ul>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="staff-0 staff selected" data-key-map="c,d,e,g" data-intro="0" title="C Major&nbsp;&nbsp;&nbsp;&nbsp;C add9"></div>
            <div class="staff-1 staff" data-key-map="c,e,a,b" data-intro="1" title="A minor"></div>
            <div class="staff-2 staff" data-key-map="c,d,e,g,a,b" data-intro="2" title="Am add11 Am7 11 Am7 9 11"></div>
            <div class="intro">
                <div class="intro-inner selected">
                    <h3 class="title">C Major&nbsp;&nbsp;&nbsp;&nbsp;C add9</h3>
                    <p class="desc">铿锵有力的C Major 就是我们传说中懂音乐的程序员，或者更加神秘的会编程的音乐人。C Major们担负着把灵感变成产品的重任。</p>
                    <p class="desc">少有的C add9是隐藏在C Major中深藏不漏的高手！在看着别人推着推子调整EQ的时候，心里潜台词往往是：“哼～老娘
    在玩RC滤波器的时候，范晓萱还在爱洗澡呢。”</p>
                </div>
                <div class="intro-inner">
                    <h3 class="title">Am&nbsp;&nbsp;&nbsp;&nbsp;Am add9</h3>
                    <p class="desc">离铿锵只有一音之差的A min淡淡地侧漏着一丝忧虑。这就是我们的灵感无法自控地迸发的设计师了。</p>
                    <p class="desc">A min们担负着把产品从“嗯，挺不错～”推向“Oh，TMD真好用！”。</p>
                    <p class="desc">当然我们最希望你是传说中的Am add9。</p>
                </div>
                <div class="intro-inner">
                    <h3 class="title">Am 11&nbsp;&nbsp; Am7 11 &nbsp;&nbsp; Am7 9 11</h3>
                    <p class="desc">你该不是在开玩笑吧？ 真的是这三个活宝？恭喜你，你在EUMLab找到多年失散的兄弟了。</p>
                    <p class="desc">什么，你是Am7 add9 add11这种奇幻人物？兄弟，你开个条件吧！</p>
                </div>
            </div>
            <div class="btn-apply-wrap">
                <a href="mailto:eum+hiring@eumlab.com" class="btn-apply">apply now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
