{% extends 'base.html' %}

{% block title %}Hiring{% endblock %}

{% block script %}
<!--<script src="/assets/scripts/hiring.js"></script>-->
{% endblock %}

{% block style %}
    <link href="/assets/styles/hiring.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-hiring">
    <div class="section section-0">
        <div class="center">
            <div class="site-title">
                <h1><a href="/" title="back home">EUM lab</a></h1>
                <h2>Unleash your music talent</h2>
            </div>
            <div class="slogan">
                <p>It's time to rock together!</p>
                <p>To help people unleash their music talent!</p>
            </div>
            <div class="job-offser">
                <a href="javascript:;" class="link-jobs">see our current job offers</a>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">About EUM Lab</h3>
                <p class="desc">We love music! We play music!</p>
                <p class="desc">It's happy to bula bula.</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Break the Wall</h3>
                <p class="desc">What kills your inspiration?</p>
                <p class="desc">9:00 AM in the office?</p>
                <p class="desc">Traffic Jam?</p>
                <p class="desc">bulabula?</p>
                <p class="desc">You don't need to be sucked in one place to let your inspiration run out.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">Unleash people's music Talent!</h3>
                <p class="desc">That is what we do.</p>
                <p class="desc">See what our users said:</p>
            </div>
            <blockquote>
                I'm now that king of tempo I am a master at guitar and I use this app 4 hours a day every day I play guitar 7 hours a day and this is what is making me better
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
