{% extends 'base.html' %}

{% block title %}招聘{% endblock %}

{% block script %}
    <script src="/assets/scripts/hiring.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/hiring.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-hiring">
    <div class="section section-0">
        <div class="center">
            <div class="site-title">
                <h1><a href="/" title="back home">EUM lab</a></h1>
                <h2>Unleash your music talent</h2>
            </div>
            <div class="slogan">
                <p>It's time to rock together!</p>
                <p>To help people unleash their music talent!</p>
            </div>
            <div class="job-offer">
                <p class="jobs-name"><span>iOS工程师</span><span>视觉设计师</span></p>
                <div class="link-jobs-wrap">
                    <a href="javascript:;" class="link-jobs">see our current job offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">关于 EUM Lab</h3>
                <p class="desc">我们爱音乐，用乐器捣腾声音。<br />我们喜欢探险，用激情润滑锈迹斑斑的生活。</p>
                <p class="desc">我们相信，只有爱好和工作聚焦，方可折射无限可能。</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="intro">
                <h3 class="title">Break the Wall</h3>
                <p class="desc">是什么阻止了你的灵感井喷？</p>
                <p class="desc">朝9晚5的打卡？操蛋的通勤？还是无法逃避的毒气？</p>
                <p class="desc">没有挑战的任务？只是任务的工作？还是一眼就看到结果的未来？ </p>
                <p class="desc">你究竟准备什么时候推翻这个操蛋的围墙？ </p>
                <p class="desc">在EUM你可以选择自己适合的方式和喜欢的地点工作。</p>
                <p class="desc">无论是准备在西湖湖畔，还是人肉翻墙到阿尔卑斯山下，</p>
                <p class="desc">泡上一杯咖啡，打开音响，wied in!</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">Unleash people's music Talent!</h3>
                <p class="desc">这不是一句口号，这是实实在在的用户感受！</p>
            </div>
            <blockquote>
                I'm now that king of tempo I am a master at guitar and I use this app 4 hours a day every day I play guitar 7 hours a day and this is what is making me better!
            </blockquote>
            <blockquote>
                As a user of tuners for the past 30 years, this is the best, fastest, most accurate and most enjoyable to use so far!
            </blockquote>
            <blockquote>
                A perfect App that is too easy to get up and running, and is the perfect addition to any studio! Awesome performance, and it also looks beautiful. Hardware like this might cost over $150!
            </blockquote>

        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="intro">
                <h3 class="title">我们在寻找这样的牛人</h3>
                <p class="desc">和我们一起用习惯的方式和舒服的姿势开发高品质的音乐App<br />帮助全球3亿人释放他们的音乐才能吧！</p>
            </div>
            <ul class="skills">
                <li data-key="b">Skilled in 3D &amp; AE</li>
                <li data-key="a">Skilled in graphic design</li>
                <li class="active" data-key="g">Skilled in Objective-C</li>
                <li class="active" data-key="e">Aelegant UI and UX purs</li>
                <li class="active" data-key="d">Have experience with DSP</li>
                <li class="active" data-key="c">Familiar with music terms</li>
            </ul>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="staff-0 staff selected" data-key-map="c,d,e,g" data-intro="0" title="C Major&nbsp;&nbsp;&nbsp;&nbsp;C add9"></div>
            <div class="staff-1 staff" data-key-map="c,e,a,b" data-intro="1" title="A minor"></div>
            <div class="staff-2 staff" data-key-map="c,d,e,g,a,b" data-intro="2" title="Am add11 Am7 11 Am7 9 11"></div>
            <div class="intro">
                <div class="intro-inner selected">
                    <h3 class="title">C Major&nbsp;&nbsp;&nbsp;&nbsp;C add9</h3>
                    <p class="desc">铿锵有力的C Major 就是我们传说中懂音乐的程序员，或者更加神秘的会编程的音乐人。C Major们担负着把灵感变成产品的重任。</p>
                    <p class="desc">少有的C add9是隐藏在C Major中深藏不漏的高手！在看着别人推着推子调整EQ的时候，心里潜台词往往是：“哼～老娘
    在玩RC滤波器的时候，范晓萱还在爱洗澡呢。”</p>
                </div>
                <div class="intro-inner">
                    <h3 class="title">A minor</h3>
                    <p class="desc">离铿锵只有一音之差的A min淡淡地侧漏着一丝忧虑。这就是我们的灵感无法自控地迸发的设计师了。</p>
                    <p class="desc">A min们担负着把产品从“嗯，挺不错～”推向“Oh，TMD真好用！”。</p>
                    <p class="desc">当然我们最希望你是传说中的Am add9。</p>
                </div>
                <div class="intro-inner">
                    <h3 class="title">Am add11 Am7 11 Am7 9 11</h3>
                    <p class="desc">你该不是在开玩笑吧？ 真的是这三个活宝？恭喜你，你在EUMLab找到多年失散的兄弟了。</p>
                    <p class="desc">什么，你是Am7 add9 add11这种奇幻人物？兄弟，你开个条件吧！</p>
                </div>
            </div>
            <div class="btn-apply-wrap">
                <a href="mailto:eum+hiring@eumlab.com" class="btn-apply">现在就申请</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
