{% extends 'base.html' %}

{% block title %}Jobs - We are hiring!{% endblock %}

{% block meta %}


{% endblock %}

{% block script %}
<script src="/assets/scripts/hiring2.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/hiring2.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% include "_nav2.html" with addstyle='fixontop' %}

    <div class="hiring-header">
    <img src="/assets/images/hiring/hiring-stuff.png" />
    <div class="slogan-container">
        <h1><em>We Need You</em><br/>Together to make it sounds lush.</h1>
        <div class="eum-intro">
        <p >EUMLab believes that music is the universal language of humankind - we make apps for performing and learning music,
            including Pro Metronome, Guitar Master, Ukulele Toolkit, and more. At present, we have over 4 million downloads of our apps, with a community of over 700,000 monthly active users.
            Our Pro Metronome was recently featured in Apple’s WWDC 2014 showcase of creative iOS apps. At present, we are located in Hangzhou, China, and Berlin, Germany.</p>
        </div>
    </div>
    </div>
    <div class="divbreaker"></div>

    <div class="hiring-section-container">
        <div class="section berlin clearfix">
            <h2><em>Berlin</em>, Germany</h2>
            <div class="position">
                <h3>Head of Marketing</h3>
                <p class="desc">We count among our community a number of professional musicians, hobbyists, and educators. We need a Head of Marketing who can engage with our community to help us better our apps, reach an even wider audience, and find trusted community partners as we continue to expand. </p>
                <ul class="what-you-do">
                    <li>Develop brand strategy for EUMLab as a whole, in addition to focusing on individual apps.</li>
                    <li>Engage with the EUMLab community and identify key influencers for closer collaboration.</li>
                    <li>Optimize and build marketing campaigns - including SEO and some copywriting.</li>
                    <li>Develop marketing strategies optimized for growth, and in line with brand goals.</li>
                    <li>Manage existing EUMLab social channels - including Facebook, Twitter, YouTube.</li>
                    <li>Evaluate new social/community platforms for EUMLab involvement, and develop relevant strategies.</li>
                    <li>Work with product/development team to relay community/influencer feedback and advise on future EUMLab products.</li>
                    <li>Occasional travel within Europe to industry conferences or to meet with partners.</li>
                    <li>The position will be part-time to begin with, with the possibilities for full-time employment following an introductory period.</li>
                    <li>The position reports to the CEO.</li>
                </ul>
                <ul class="what-we-want ">
                    <li>Believe in music.</li>
                    <li>2-3 years experience in marketing.</li>
                    <li>Native or C2-level English speaking and writing skills</li>
                    <li>Familiarity with mobile and desktop platforms for music-making</li>
                    <li>Active understanding of popular social networks (Facebook, Twitter, YouTube, etc.)</li>
                    <li>B.A. degree or equivalent (marketing, music industry or related fields preferred)</li>
                </ul>
                <ul class="stand-out ">
                    <li>Play at least one musical instrument.</li>
                    <li>Familiarity with music education field.</li>
                    <li>Blogging or Journalism experience.</li>
                    <li>German and/or Chinese language skills</li>
                </ul>
                <a class="apply clearfix" href="mailto:hiring@eumlab.com?subject=Hi, I wanna be your Head of Marketing&body=(Attach us your current Resumé/CV with salary expectations and some links or information about your prior marketing experience.)" >Apply</a>
                <div class="divbreaker"></div>
            </div>

            <div class="position">
                <h3>UI Designer</h3>
                <p class="desc">DESC</p>
                <ul class="what-you-do">
                    <li></li>
                </ul>
                <ul class="what-we-want ">
                    <li></li>
                </ul>
                <a class="apply clearfix">Apply</a>
            </div>

            <!--Press Release Director-->


        </div>


        <div class="divbreaker"></div>


        <div class="section hangzhou">
            <h2><em>Hangzhou</em>, China</h2>

            <div class="position">
                <h3>iOS Developer</h3>
                <p class="desc">DESC</p>
                <ul class="what-you-do">
                    <li></li>
                </ul>
                <ul class="what-we-want ">
                    <li></li>
                </ul>
                <a class="apply clearfix">Apply</a>
            </div>


            <div class="position">
                <h3>Android Developer</h3>
                <p class="desc">DESC</p>
                <ul class="what-you-do">
                    <li></li>
                </ul>
                <ul class="what-we-want ">
                    <li></li>
                </ul>
                <a class="apply clearfix">Apply</a>
            </div>



        </div>


        </div>

    </div>

    <div class="divbreaker bottom-divbreaker"></div>
    {% include "_footer2.html" %}
{% endblock %}

{% block feedbackscript %}{% endblock %}
