{% extends 'base.html' %}

{% block title %}加入我们{% endblock %}

{% block script %}
    <script src="/assets/scripts/hiring.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/hiring.css" rel="stylesheet" />
{% endblock %}

{% block bodystyle %}darktheme {% endblock %}
{% block body %}
{% include "_nav2.html" %}
<div class="container pg-hiring">
    <div class="section section-0">
        <div class="center">
            <div class="site-title">
                <h1><a href="/" title="back home">EUM lab</a></h1>
                <h2>Unleash your music talent</h2>
            </div>
            <div class="slogan">
                <p>It's time to rock together!</p>
                <p>To help people unleash their music talent!</p>
            </div>
            <div class="job-offer">
                <!--<p class="jobs-name"><span>iOS程序猿</span><span>实习生(杭州)</span></p>-->
                <div class="link-jobs-wrap">
                    <a href="javascript:;" class="link-jobs">查看我们的职位要求</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">关于我们</h3>
                <p class="desc">我们爱音乐，用乐器捣腾声音。<br/>我们为音乐家们开发最优秀的音乐应用。<br />我们也喜欢探险，用激情润滑锈迹斑斑的环境。</p>
                <p class="desc">我们相信只有爱好和工作聚焦，<br />方可折射无限可能。</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="intro">
                <h3 class="title">Break the Wall</h3>
                <p class="desc">是什么阻止了你的灵感井喷？</p>
                <p class="desc">朝9晚5的打卡？操蛋的通勤？还是无法逃避的毒气？</p>
                <p class="desc">没有挑战的任务？只是任务的工作？还是一眼就看到结果的未来？ </p>
                <p class="desc">你究竟准备什么时候推翻这个操蛋的围墙？ </p>
            </div>
        </div>
    </div>

    <div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">Unleash People's Music Talent!</h3>
                <p class="desc">这不是一句口号，这是来自 <span id="app-users">{{ downloads }}</span> 用户的真实感受！</p>
            </div>
            <blockquote>
                I'm now that king of tempo I am a master at guitar and I use this app 4 hours a day every day I play guitar 7 hours a day and this is what is making me better!
            </blockquote>
            <blockquote>
                As a user of tuners for the past 30 years, this is the best, fastest, most accurate and most enjoyable to use so far!
            </blockquote>
            <blockquote>
                A perfect App that is too easy to get up and running, and is the perfect addition to any studio! Awesome performance, and it also looks beautiful. Hardware like this might cost over $150!
            </blockquote>

        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="intro">
                <h3 class="title">“It's more fun to be a pirate than to join the navy.”</h3>
                <p class="desc">和我们一起用习惯的方式和舒服的姿势开发高品质的音乐App<br />帮助全球3亿人释放他们的音乐才能吧！</p>
            </div>

        </div>
    </div>

    <div class="section section-5 section-5-eng">
        <div class="center">
            <!--<div class="staff-0 staff selected" data-key-map="c,d,e,g" data-intro="0" title="C Major&nbsp;&nbsp;&nbsp;&nbsp;C add9"></div>
            <div class="staff-1 staff" data-key-map="c,e,a,b" data-intro="1" title="A minor"></div>
            <div class="staff-2 staff" data-key-map="c,d,e,g,a,b" data-intro="2" title="Am add11 Am7 11 Am7 9 11"></div>-->
            <div class="intro">
                <div class="intro-inner selected">
                    <h3 class="title">iOS 工程师 (杭州)</h3>
                    <h4 class="subtitle">和我们一样喜欢原生的程序和优雅的体验？<br/>
                                         一样相信并且愿意投身不可逆转的移动互联网潮流？<br/>和我们一起来用真正优秀的产品刷新大家对“好”的认识吧！</h4>

                    <div class="intro-looking-for">
                        <h3 class="title">基本要求</h3>
                        <ul>
                            <li>有熟练的iOS开发经验（一年以上）</li>
                            <li>熟悉Objective C，掌握iOS中关于UI、网络、数据库等SDK的开发，熟悉XCode等编程工具的使用</li>
                            <li>熟悉产品开发流程，对终端产品的UI/UE有独到的见解与认识，追求良好的用户体验</li>
                            <li>对软件产品有强烈的责任心，具备良好的沟通能力和优秀的团队协作能力</li>
                            <li>拥有快速定位与解决问题的能力</li>

                            <br/>加分项：
                            <li>有DSP背景，了解音乐乐理，有音乐制作经验</li>
                            <li>熟悉至少一种乐器</li>
                            <li>已有作品在App Store中上线</li>
                            <li>有GitHub地址</li>
                            <li>有Soundcloud地址</li>
                        </ul>
                    </div>



                    <ul class="intro-what-to-do">
                        <h3 class="title">主要工作</h3>
                        <ul>
                            <li>参与iOS平台产品的开发、维护与测试</li>
                            <li>参与产品的快速原型开发</li>
                            <li>参与或负责iOS产品的软件构架设计</li>
                        </ul>
                    </ul>
                </div>

                <ul class="intro-what-to-do" style="padding-top: 20px">
                        <h3 class="title">你将获得</h3>
                        <ul>
                            <li>自由但有挑战的工作</li>
                            <li>参与开发影响百万用户的产品</li>
                            <li>与德国顶级设计师合作</li>
                            <li>休息时间可以揉捏办公室里各种乐器</li>
                            <li>MBP+SSD, Thunderbolt等各种口水直流的设备</li>
                            <li>不错的薪酬</li>

                        </ul>
                    </ul>

            </div>


            <div class="btn-apply-wrap">
                <a href="mailto:eum+hiring+iOS@eumlab.com" class="btn-apply" >apply now</a>
            </div>

            <div class="poz-section">

            </div>

            <div class="intro">
                <div class="intro-inner selected">
                    <h3 class="title">Android 工程师 (杭州)</h3>
                    <h4 class="subtitle">和我们一样相信Android并非意味着廉价和难用？<br/>
                        让我们一起在Android里开发出最出色的音乐应用！</h4>

                    <div class="intro-looking-for">
                        <h3 class="title">基本要求</h3>
                        <ul>
                            <li>有熟练的Android开发经验（一年以上）</li>
                            <li>深入了解Java设计模式，熟练掌握Android系统框架，以及UI、网络、数据库等SDK的开发，熟悉Eclipse等编程工具的使用</li>
                            <li>熟悉产品开发流程，对终端产品的UI/UE有独到的见解与认识，追求良好的用户体验</li>
                            <li>对软件产品有强烈的责任心，具备良好的沟通能力和优秀的团队协作能力</li>
                            <li>拥有快速定位与解决问题的能力</li>

                            <br/>加分项：
                            <li>有DSP背景，了解音乐乐理，有音乐制作经验</li>
                            <li>熟悉至少一种乐器</li>
                            <li>已有开发Android App</li>
                            <li>有GitHub地址</li>
                            <li>有Soundcloud地址</li>
                            <li>了解Android底层音频技术开发</li>
                        </ul>
                    </div>



                    <ul class="intro-what-to-do">
                        <h3 class="title">主要工作</h3>
                        <ul>
                            <li>参与把目前iOS平台中的程序移植到Android中</li>
                            <li>参与或负责Android平台中应用的构架设计</li>
                            <li>参与新产品的Android平台同步上市版本开发</li>
                        </ul>
                    </ul>


                    <ul class="intro-what-to-do" style="padding-top: 20px">
                        <h3 class="title">你将获得</h3>
                        <ul>
                            <li>自由但有挑战的工作</li>
                            <li>参与开发影响百万用户的产品</li>
                            <li>与德国顶级设计师合作</li>
                            <li>休息时间可以揉捏办公室里各种乐器</li>

                            <li>MBP+SSD, Thunderbolt等各种口水直流的设备</li>
                            <li>不错的薪酬</li>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="btn-apply-wrap">
                <a href="mailto:eum+hiring+android@eumlab.com" class="btn-apply" >apply now</a>
            </div>

            <div class="poz-section">

            </div>

            <div class="intro">
                <div class="intro-inner selected">
                    <h3 class="title">实习生 (杭州)</h3>
                    <h4 class="subtitle">没有实战经验，但是相信自己是块好料？<br/> 或者先和我们一起玩玩，试试看能否摩擦出点火花？</h4>

                    <div class="intro-looking-for">
                        <h3 class="title">基本要求</h3>
                        <ul>
                            <li>有较强的程序开发基础</li>
                            <li>掌握OOD，设计模式，软件工程等基本知识</li>
                            <li>有钻研精神，那种想睡都睡不着神似红牛的激情</li>
                            <li>对软件产品有强烈的责任心，具备良好的沟通能力和优秀的团队协作能力</li>
                            <li>拥有快速定位与解决问题的能力</li>
                            <li>在校大学生，每周至少工作3天</li>

                            <br/>加分项：
                            <li>已有Objective C开发经验</li>
                            <li>有DSP背景，了解音乐乐理，有音乐制作经验</li>
                            <li>熟悉至少一种乐器</li>
                            <li>有完成的作品，无论哪类作品</li>
                            <li>有GitHub地址</li>
                            <li>有Soundcloud地址</li>
                        </ul>
                    </div>



                    <ul class="intro-what-to-do">
                        <h3 class="title">主要工作</h3>
                        <ul>
                            <li>参与到iOS团队对现有产品进行维护</li>
                            <li>参与部分新产品的开发</li>
                        </ul>
                    </ul>
                     <ul class="intro-what-to-do" style="padding-top: 20px">
                        <h3 class="title">你将获得</h3>
                        <ul>
                            <li>参与开发影响百万用户的产品</li>
                            <li>与德国顶级设计师合作</li>
                            <li>休息时间可以揉捏办公室里各种乐器</li>
                            <li>MBP+SSD, Thunderbolt等各种口水直流的设备</li>
                            <li>不错的薪酬</li>

                        </ul>
                    </ul>
                </div>

            </div>
            <div class="btn-apply-wrap">
                <a href="mailto:eum+hiring+internship@eumlab.com" class="btn-apply" >apply now</a>
            </div>


            <br/><br/><br/><br/><br/>
        </div>
    </div>
    </div>
    {% include "_footer2.html" %}
{% endblock %}
