{% extends 'base-zh.html' %}

{% block title %}Music Apps{% endblock %}
{% block wholetitle %}EUMLab, creators of the best apps for musicians out there{% endblock %}

{% block meta %}
    <meta name="keywords" content="music apps, eum, eumlab, xanin, pro metronome, metornome, instuner, daw remote, ukulele toolkit, iuke, ukechords, guitar master, bass toolkit, drum loops, piano handbook, tempo, education, learn music" />
    <meta name="description" content="EUMLab create apps help people learn, practice and perform music. The award winning products including Pro Metronome, insTuner, Ukulele Toolkit, Guitar Master, iUke and more." />
{% endblock %}

{% block script %}
<script src="/assets/scripts/jquery.easings.min.js"></script>
<script src="/assets/scripts/jquery.fullPage.min.js"></script>
<script src="/assets/scripts/home3.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/jquery.fullPage.css" rel="stylesheet" />
    <link href="/assets/styles/home3.css" rel="stylesheet" />
    {% include '_fixCSS.html' with page='home2' %}

{% endblock %}

{% block body %}

    {% include "_nav2.html" %}

    <div class="words">
        <h1><span class="upper">吉他，贝斯，鼓手，键盘都已就绪</span><br/>
        就等<span class="you">你</span>开嗓了</h1>
        <h2>EUMLab 团队正在招募<span>程序员</span>/<span>设计师</span></h2>
        <a href="/jobs/">查看职位</a>

        <img src="/assets/images/home3/home-mic.png" height="410" width="275" />
    </div>

    <div class="mic2">


    </div>

{% endblock %}

{% block feedbackscript %}{% endblock %}
