{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block script %}
    <script src="/assets/scripts/home.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/home.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-home">
    <div class="header">
        <div class="site-title">
            <h1><a>EUM lab</a></h1>
            <h2>Unleash your music talent</h2>
        </div>
    </div>
    <div class="stage">
        <div class="apps" id="apps">
            <a href="/ukulele/" class="ut app">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a >
            <a href="/pro-metronome/" class="app pm">
                <div class="app-intro">
                    <h5>Pro Metronome</h5>
                    <p>the best metronome app</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="/instuner/" class="app it">
                <div class="app-intro">
                    <h5>insTuner</h5>
                    <p>keep your instruments always in tune</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="/pro-tuner/" class="app pt">
                <div class="app-intro">
                    <h5>Pro Tuner</h5>
                    <p>add a new "padel" to your iPhone</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="/string-tuner/" class="app st">
                <div class="app-intro">
                    <h5>String Tuner</h5>
                    <p>keep your strings always in tune</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="/daw-remote/" class="app dr">
                <div class="app-intro">
                    <h5>DAW Remote</h5>
                    <p>control your DAW wirelessly</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="/daw-remote-hd/" class="app drh">
                <div class="app-intro">
                    <h5>DAW Remote HD</h5>
                    <p>control your DAW wirelessly</p>
                </div>
                <div class="icon"></div>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="social-medias">
            <a class="email" href="mailto:eum@ezse.com" title="Email">EUM's Email</a>
            <a class="facebook" target="_blank" href="http://facebook.com/eumlab" title="Facebook">EUM's Facebook</a>
            <a class="twitter" target="_blank" href="http://twitter.com/eumlab" title="Twitter">EUM's Twitter</a>
            <a class="youtube" target="_blank" href="http://www.youtube.com/user/yxshawn" title="Youtube">EUM's Youtube</a>
        </div>
        <p class="copyright">
            2013 EUM. All Rights Reserved.
        </p>
    </div>
</div>
{% endblock %}
