{% extends 'base.html' %}

{% block title %}Music Apps{% endblock %}
{% block wholetitle %}EUM - We design music apps{% endblock %}

{% block script %}
<!-- <script src="/assets/scripts/home.js"></script> -->
{% endblock %}

{% block style %}
    <link href="/assets/styles/home.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-home">
    <div class="header">
        <div class="site-title">
            <h1><a href="/">EUM lab</a></h1>
            <h2>Unleash your music talent</h2>
        </div>
    </div>
    <div class="ipad">
        <div class="iphone"></div>
        <div class="apps" id="apps">
            <a href="/pro-metronome/" class="app pm">
                <div class="app-intro gradient">
                    <h5>Pro Metronome</h5>
                    <p>the best metronome app</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">Pro Metronome</p>
            </a>
            <a href="/instuner/" class="app it">
                <div class="app-intro gradient">
                    <h5>insTuner</h5>
                    <p>keep your instruments always in tune</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">insTuner</p>
            </a>
            <a href="/guitar-toolkit/" class="app gt">
                <div class="app-intro gradient">
                    <h5>Guitar Toolkit</h5>
                    <p>chords,tuner,metronome essential guitar tools</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">Guitar Toolkit</p>
            </a>
            <a href="/ukulele/" class="ut app">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">Ukulele Toolkit</p>
            </a >
            <a href="http://iuke.com/" class="iuke app">
                <div class="app-intro">
                    <h5>iUke</h5>
                    <p>ukulele chords</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">iUke</p>
            </a >
            <a href="/chordtunes/" class="app ct">
                <div class="app-intro gradient">
                    <h5>Chordtunes</h5>
                    <p>the easiest chord sheet creator</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">Chordtunes</p>
            </a>
            <a href="/daw-remote/" class="app dr">
                <div class="app-intro gradient">
                    <h5>DAW Remote</h5>
                    <p>control your DAW wirelessly</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">DAW Remote</p>
            </a>
            <a href="/daw-remote-hd/" class="app drh">
                <div class="app-intro gradient">
                    <h5>DAW Remote HD</h5>
                    <p>control your DAW wirelessly</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">DAW Remote HD</p>
            </a>
            <a href="/string-tuner/" class="app st">
                <div class="app-intro gradient">
                    <h5>String Tuner</h5>
                    <p>keep your strings always in tune</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">String Tuner</p>
            </a>
            <a href="/pro-tuner/" class="app pt">
                <div class="app-intro gradient">
                    <h5>Pro Tuner</h5>
                    <p>add a new "padel" to your iPhone</p>
                </div>
                <div class="icon"></div>
                <p class="icon-name">Pro Tuner</p>
            </a>
        </div>
    </div>
    <div class="footer">
        {% include "_social-medias.html" %}
        {% include "_copyright.html" %}
    </div>
</div>
{% endblock %}

{% block feedbackscript %}{% endblock %}
