{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block script %}
    <script src="/assets/scripts/home.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/home.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-home">
    <div class="header">
        <div class="site-title">
            <h1><a href="/">EUM lab</a></h1>
            <h2>We make music apps</h2>
        </div>
    </div>
    <div class="stage">
        <div class="apps">
            <a href="#" class="ut app">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a >
            <a href="#" class="app pm">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="#" class="app it">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="#" class="app pt">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="#" class="app st">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="#" class="app dr">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
            <a href="#" class="app drh">
                <div class="app-intro">
                    <h5>Ukulele Toolkit</h5>
                    <p>chords,tuner,metronome essential ukulele tools</p>
                </div>
                <div class="icon"></div>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="social-medias">
            <a class="email" href="mailto:eum@ezse.com" title="Email">EUM's Email</a>
            <a class="facebook" target="_blank" href="http://facebook.com/eumlab" title="Facebook">EUM's Facebook</a>
            <a class="twitter" target="_blank" href="http://twitter.com/eumlab" title="Twitter">EUM's Twitter</a>
            <a class="youtube" target="_blank" href="http://www.youtube.com/user/yxshawn" title="Youtube">EUM's Youtube</a>
        </div>
        <p class="copyright">
            2013 EUM. All Rights Reserved.
        </p>
    </div>
</div>
{% endblock %}
