{% extends 'base-zh.html' %}

{% block title %}Imprint{% endblock %}

{% block meta %}


{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <link href="/assets/styles/imprint.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% include "_nav2.html" with addstyle='fixontop' %}

    <div class="imprint-header">
    <img src="/assets/images/imprint/imprint.png" />
    <div class="slogan-container">
        <h1><em>Imprint</em></h1>
    </div>
    </div>

    <div class="imprint-section-container">

    <h2>杭州弦音信息科技有限公司</h2>
    <p>浙江省杭州市西斗门路9号<br/>
福地创业园4号楼4303</p>

    <h2>注册号</h2>
    <p>330108000134805</p>

    <h2>增值税号</h2>
    <p>330100084565593</p>

        <br/>

 <div class="divbreaker bottom-divbreaker"></div>

    <h2><em>EUMLab</em><br/>Xanin Technology GmbH</h2>
    <p>Gardeschuetzenweg 61-63,<br/>
12203 Berlin,</br>
Germany</p>

    <h2>注册地点</h2>
    <p>Berlin, Amtsgericht Charlottenburg, HRB 157088 B</p>

    <h2>增值税号</h2>
    <p>DE294739219</p>

    <h2>联系我们</h2>
    <p><a href="mailto:team+imprint@eumlab.com">team+imprint@eumlab.com</a></p>

    </div>

    <div class="divbreaker bottom-divbreaker"></div>
    {% include "_footer2.html" %}
    <div class="clearfix"></div>
{% endblock %}

{% block feedbackscript %}{% endblock %}
