{% extends 'base.html' %}

{% block title %}{{ member.nickname }}的工作日志{% endblock %}

{% block script %}
    <script src="/assets/scripts/index.js"></script>
{% endblock %}

{% block body %}
<div class="container pg-ukulele">
    <div class="header">
        <div class="site-title">
            <h1>EUM lab</h1>
            <h2>We make music apps</h2>
        </div>
        <ul class="nav">
            <li><a href="#DAW_Remote">DAW Remote</a></li>
            <li><a href="#DAW_Remote_HD">DAW Remote HD</a></li>
            <li><a href="#Pro_Metronome">Pro Metronome</a></li>
            <li><a href="#insTuner">insTuner</a></li>
            <li class="active"><a href="#Ukulele_Toolkit">Ukulele Toolkit</a></li>
            <li><a href="#String_Tuner">String Tuner</a></li>
            <li><a href="#Pro_Tuner">Pro Tuner</a></li>
        </ul>
        <div class="app ukulele">
            <img src="/assets/images/app-ukulele.png" />
            <a href="#" class="link-app-store">Available on the App Store</a>
        </div>
        <div class="guitar" id="guitar"></div>
        <div class="violin" id="violin"></div>
    </div>
    <div class="content">
        <div class="feature feature-0">
        </div>
        <div class="feature feature-1">
        </div>
        <div class="feature feature-2">
        </div>
    </div>
    <div class="footer">
        <div class="ft-nav">
            <strong class="logo">EUM lab</strong>
            <ul class="nav">
                <li><a href="#DAW_Remote">DAW Remote</a></li>
                <li><a href="#DAW_Remote_HD">DAW Remote HD</a></li>
                <li><a href="#Pro_Metronome">Pro Metronome</a></li>
                <li><a href="#insTuner">insTuner</a></li>
                <li class="active"><a href="#Ukulele_Toolkit">Ukulele Toolkit</a></li>
                <li><a href="#String_Tuner">String Tuner</a></li>
                <li><a href="#Pro_Tuner">Pro Tuner</a></li>
            </ul>
        </div>
        <div class="social-medias">
            <a class="email" href="mailto:eum@ezse.com" title="Email">EUM's Email</a>
            <a class="facebook" target="_blank" href="http://facebook.com/eumlab" title="Facebook">EUM's Facebook</a>
            <a class="twitter" target="_blank" href="http://twitter.com/eumlab" title="Twitter">EUM's Twitter</a>
            <a class="youtube" target="_blank" href="http://www.youtube.com/user/yxshawn" title="Youtube">EUM's Youtube</a>
        </div>
        <p class="copyright">
            2013 EUM. All Rights Reserved.
        </p>
    </div>
</div>
{% endblock %}
