{% extends 'base.html' %}

{% block title %}insTuner{% endblock %}


{% block script %}
    <script src="/assets/scripts/jquery.threesixty.js"></script>
    <script src="/assets/scripts/instuner.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/instuner.css" rel="stylesheet" />
{% endblock %}

{% block bodystyle %}darktheme {% endblock %}
{% block body %}
{% include "_nav2.html" %}
<div class="container pg-instuner">
    <div class="header">
        <div class="bg"></div>

        <div class="app">
            <div class="center">
                <h2 class="app-title">insTuner</h2>
                <a href="http://www.youtube.com/embed/C1_80SPx0jE?autoplay=1&showinfo=0&hd=1" class="btn-video" id="it-video" title="Watch a quick intro vichrdeo"></a>
                <a href="http://itunes.apple.com/app/id528923171?ls=1&mt=8" target="_blank" class="link-app-store" title="Download insTuner from APP Store">Available on the App Store</a>
                <div class="pic">
                    <div><img id="app-animation" src="/assets/images/it/modes_top/fine/PM_00.png" width="500" height="500" /></div>
                </div>
                <div class="it-nav tab-nav">
                    <a href="javascript:;" data-type="fine">Fine-Tuning Mode</a>
                    <a href="javascript:;" data-type="instant">Instant-Tuning Mode</a>
                    <a href="javascript:;" data-type="strobe">Strobe Mode</a>
                    <a href="javascript:;" data-type="fft">Spectrum (FFT) Mode</a>
                    <a href="javascript:;" data-type="spectrograms">Spectrogram Mode</a>
                </div>
            </div>
        </div>
        <div class="guitar" id="guitar"></div>
        <div class="violin" id="violin"></div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">What is insTuner?</h3>
                <p class="desc">Quick, accurate tuning – <br/>insTuner is a chromatic tuner for instruments of all kinds.</p>
                <p class="desc">Use it for everything from guitar and bass to piano, bowed strings, brass, woodwinds, other stringed instruments and even drums.</p>
                <p class="desc">It's <em>accurate, dynamic and easy to use.</em></p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Easy-to-read note wheel</h3>
                <p class="desc">No matter what mode you're in, you'll see insTuner's easy-to-read note wheel. This shows what note the tuner is hearing.</p>
                <p class="desc">The number beneath the dial shows the octave.</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Tone Generator</h3>
                <p class="desc">insTuner includes a tone generator <br/>to help you tune by ear. </p>
                <p class="desc">It's useful for complex tuning situations and produces four different waveforms. Just select an octave and note, tap and go!</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="intro">
                <h3 class="title">5 Professional Tuning Modes</h3>
                <p class="desc">insTuner supports several tuning modes for different situations. Use Instant Tuning for a quick tune-and-play, Fine- and Strobe-Tuning for accurate professional needs, and FFT and Spectrogram for sound analysis.</p>
            </div>
            <div class="slide">
                <div class="gear">
                    <div class="gear-img"></div>
                </div>
                <div class="iphone">
                    <div class="animation">
                        <img id="mode-animation" src="/assets/images/it/modes/fft/ReflectorRecording_00000.png" width="445" height="251" />
                    </div>
                    <div class="mask"></div>
                </div>
                <div class="modes">
                    <a href="javascript:;" class="prev"></a>
                    <a href="javascript:;" class="next"></a>
                    <ul class="intro">
                        <li data-type="instant">
                            <h5 class="title">Instant Tuning Mode</h5>
                            <p class="desc">Select this mode if you are on stage or just need a quick tuning.</p>
                            <p class="desc">A bar on the right means the note is sharp and a bar on the left means the note is flat.</p>
                            <p class="desc">Once the note is in tune, the background turns green.</p>
                        </li>
                        <li data-type="fine" class="fine">
                            <h5 class="title">Fine-Tuning Mode</h5>
                            <p class="desc">The display shows the currently detected note with its color varying according to the accuracy of its tuning. The meter shows the cent deviation sharp or flat as well as the frequency.</p>
                        </li>
                        <li data-type="strobe">
                            <h5 class="title">Strobe Tuning Mode</h5>
                            <p class="desc">Strobe Mode uses an even more accurate tuning method.</p>
                            <p class="desc">The bars scroll to the left when the note is too flat and to the right when the note is too sharp.</p>
                            <p class="desc">When the note is in tune, the bars remain still.</p>
                        </li>
                        <li data-type="fft">
                            <h5 class="title">Spectrum (FFT) Mode</h5>
                            <p class="desc">FFT (Fast Fourier Transform) is a useful tool for analyzing the frequencies present in a sound.</p>
                            <p class="desc">Change the scale of the X-axis to logarithmic or linear. Note names will display when detected.</p>
                        </li>
                        <li data-type="spectrograms">
                            <h5 class="title">Spectrogram Mode</h5>
                            <p class="desc">The spectrogram is a visual representation of sound that shows how the spectral density of a signal varies over time.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">It's Universal</h3>
                <p class="desc">Buy insTuner once and use it on all devices – iPhone, iPad and iPod Touch.</p>
            </div>
            <a href="http://itunes.apple.com/app/id528923171?ls=1&mt=8" target="_blank" class="link-app-store" title="Download insTuner from APP Store">Available on the App Store</a>
            <a href="javascript:;" class="show-lite">Get insTuner Free</a>
        </div>
    </div>
    <div class="section section-5">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <p class="desc">insTuner Free contains both the Instant-Tuning Mode and the Tone Generator.</p>
            </div>
            <a href="http://itunes.apple.com/app/id603425027?ls=1&mt=8" target="_blank" class="link-app-store" title="Download insTuner from APP Store">Available on the App Store</a>
        </div>
    </div>
    </div>
    {% include "_footer2.html" %}
{% endblock %}
