{% extends 'base.html' %}

{% block title %}About EUMLab{% endblock %}

{% block meta %}


{% endblock %}

{% block script %}
<script src="/assets/scripts/press.js"></script>
{% endblock %}

{% block style %}
    <link href="/assets/styles/press.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% include "_nav2.html" with addstyle="fixontop glow" %}

    <div class="press-header">
    <img src="/assets/images/press/about-logo.png" height="281" width="881"/>
    <div class="slogan-container">
        <h1><em>About Us</em></h1>
        <h2>EUMlab is a group of software developers who are passionate about making excellent tools for musicians.</h2>
        <p>Founded in 2012, we make apps that help people learn, practice and perform music. These include Guitar Master and Bass Toolkit, the powerful insTuner, and a group of tools for the world’s Ukulele players. Our Pro Metronome was recently feature in Apple’s WWDC 2014 showcase – all together our tools have been downloaded over 4.5 million times.</p>
        <!-- Pictures Here -->
        <p>Everyone who works for EUMlab is a musician themselves and we believe that music is the universal language of humankind.</p>
        <p>We are based in beautiful Hangzhou, China and exciting Berlin, Germany.</p>
        <p class="tip">You can <a  href="https://www.dropbox.com/sh/f9xt3gyra3mtxgu/AACd977CjXwMQP_85QgTkl4Oa" target="_blank" >download our company press kit here.</a></p>
        <p> </p>

     </div>
    </div>
    <div class="divbreaker"></div>


    <div id="subscribe" class="press-section-container">

            <h2>Join to Our <em>Mailing List</em></h2>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//eumlab.us8.list-manage.com/subscribe/post?u=190fc0a799a3c527dd4a07a70&amp;id=45b2147a69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="textbox required email" placeholder="E-Mail" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <input type="text" value="" name="NAME" class="textbox required" placeholder="Name" id="mce-NAME">
            </div>
            <div class="mc-field-group">
                <input type="text" value="" name="COMPANY" class="textbox required" placeholder="Company" id="mce-COMPANY">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <div id="mce-responses" class="">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_190fc0a799a3c527dd4a07a70_45b2147a69" tabindex="-1" value=""></div>

            </form>
            </div>

            <!--End mc_embed_signup-->

        <!--<div class="download section right">
            <h2>Get Company Press Kit</h2>
            <img src="/assets/images/press/company-press-download.png" height="205" width="163" />
            <a  href="https://www.dropbox.com/sh/f9xt3gyra3mtxgu/AACd977CjXwMQP_85QgTkl4Oa" target="_blank" class="press-download">Download</a>
        </div>
        <div class="clearfix"></div>-->
    </div>


    <div class="divbreaker"></div>

    <div id="presskit" class="press-section-container presskits">
        <h2><em>Press Kits</em></h2>
        <p>We prepared a full range of <em>screenshots</em>, <em>icons</em>, <em>lifestyle photos</em> and <em>review guides</em> for you.<br/>
        We’re always interested to know what you’ve written about either of our apps, so please do <a href="mailto:press@eumlab.com">let us know</a>.</p>
        <ul class="kits-list">
            {% for kit in kits %}
                <li class="basic-ani"><img src="/assets/images/icons/120/{{ kit.app.icon }}" height="60" width="60">
                    <h3>{{ kit.title }}</h3>
                    <p class="press-desc">{{ kit.app.desc }}</p>
                    <a class="press-sheet-download" href="{{ kit.intro }}" target="_blank">Press Sheet</a>
                    <a class="press-kit-download" href="{{ kit.kit }}" target="_blank">Press Kit</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="divbreaker"></div>

    <div class="press-section-container">
        <h2><em>Press Coverage</em></h2>
        <ul id="press-coverage" class="press-covers  stared">
            {% for cover in covers %}
                <li class="{% if not cover.stared %}hide{% endif %} basic-ani"><a class="cover" target="_blank" href="{{ cover.link }}" title="{{ cover.title }}"><article>{{ cover.title }}</article></a>
                    <time>{{ cover.time }}</time> <span class="publisher"><a href="{{ cover.publisherLink }}" target="_blank">{{ cover.publisher }}</a></span>
                    <p class="quo">{{ cover.quo }}</p>
                    <img src="/assets/images/press/covers/{{ cover.img }}" />
                </li>
            {% endfor %}
        </ul>
        <a id="show-more" href="javascript:void(0)">Read All</a>
    </div>


    <div class="divbreaker bottom-divbreaker"></div>
    {% include "_footer2.html" %}
{% endblock %}

{% block feedbackscript %}{% endblock %}
