<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table width="1000">
<tr>
	<td>mid</td>
	<td>id</td>
	<td>name</td>
	<td>aurl</td>
	<td>href</td>
	<td>device</td>
	<td>desc</td>
</tr>

{%  for item in appitems %}
<tr height="50">
	<td>{{ item.mid }}</td>
	<td>{{ item.id }}</td>
	<td><a href="http://itunes.apple.com/app/id{{ item.id }}" target="_blank">{{ item.name }}</a></td>
	<td><a href="{{ item.aurl }}://start">{{ item.aurl }}</a></td>
	<td><a href="{{ item.href }}">{{ item.href }}</a></td>
	<td>{% if item.iphone %}iPhone{% endif %} {% if item.iPad %}iPad{% endif %}</td>
	<td>{{ item.desc }}</td>
</tr>
{% endfor %}

</table>
</body>
</html>