{% extends 'base.html' %}

{% block title %}UkeHero{% endblock %}

{% block script %}
    <script src="/assets/scripts/ukehero.js"></script>
{% endblock %}
0
{% block style %}
    <link href="/assets/styles/ukehero.css" rel="stylesheet" />
{% endblock %}

{% block bodystyle %} {% endblock %}

{% block body %}
<div class="firstpage-container">
    {% include "_nav2.html" %}

    <div class="ukehero-container">
        <div class="iphone"></div>

        <div class="right">
            <h1 id="appname">UkeHero</h1>
            <h2>Turn your iPhone<br/>into a virtual ukulele</h2>
            <a href="{{ me.storeurl }}" target="_blank" class="appstore-icon">Download on the App Store</a>
        </div>
    </div>
</div>

<div class="page-container">
    <!--<div class="section real-ukulele" >
        <h1 class="slogan">Make your iPhone looks & feel<br/>like a <em>real ukulele</em></h1>
        <h2 class="slogan-desc">Strumming, finger picking and changing chords has never been easier!</h2>
        <div class="videos"></div>
    </div>-->

    <div class="section smart-fingering dark-background">
        <div class="smart-fingering-image"></div>
        <div class="smart-fingering-shadow"></div>
        <h1 class="slogan">Finger picking is now possible on the iPhone<br/>using <em>smart fingering</em> technology</h1>
        <h2 class="slogan-desc">
            Previously, because of a lack of physical feedback, finger picking techniques were<br/>
            impossible on the iPhone and iPad. Now, thanks "Smart Fingering Technology," all<br/>
            you need to do is swipe your fingers to play the device like a real ukulele.
    </div>

    <div class="section smart-chords dark-background">
        <div class="smart-chords-image">
            <div class="smart-chords-lines"></div>
            <div class="slogan-wrap">
                <h1 class="slogan"><em>Smart Chords:</em><br/>Change chords <br/>by touch alone</h1>
                <h2 class="slogan-desc">Switch chords quickly and smoothly by<br/>pressing the special pads in different combinations.</h2>
            </div>
        </div>
    </div>

    <div class="section own-chord dark-background">
        <h1 class="slogan">Make your own chord maps</h1>
        <h2 class="slogan-desc">
            If you want to play a song that uses different chords, simply change the configuration.<br/>
            Create new maps and transpose chords to any key <br/>
            and save as many maps as you need.
        </h2>
        <div class="own-chord-image"></div>
    </div>

    <div class="divbreaker"></div>

    <div class="section download">
        <h1 class="slogan">UkeHero</h1>
        <a class="basic-ani-onlyalpha appstore-icon-bottom" href="{{ me.storeurl }}" target="_blank"><img src="/assets/images/icons/512/ukehero.png" height="256" width="256" />
        <br />
        </a>
    </div>

    <div class="divbreaker bottom-divbreaker"></div>

    {% include "_footer2.html" %}
    <div class="clearfix"></div>
</div>

{% endblock %}
