{% extends 'base.html' %}

{% block title %}Ukulele Toolkit{% endblock %}

{% block meta %}
    <meta name="apple-itunes-app" content="app-id=581273909">
{% endblock %}

{% block style %}
    <link href="/assets/styles/ukulele.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container pg-ukulele">
    <div class="header">
        <div class="bg"></div>
        {% include "_topbar.html" %}
        <div class="app">
            <div class="center">
                <h2 class="app-title">Ukulele Toolkit</h2>
                <a href="http://itunes.apple.com/app/id581273909?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Ukulele Toolkit from APP Store">Available on the App Store</a>
                <div class="pic"></div>
            </div>
        </div>
    </div>
    <div class="section section-0">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">What is Ukulele Toolkit</h3>
                <p class="desc">It is a collection of essential ukulele tools for ukulele players. It contains three tools for daily use:</p>
                <ol class="desc">
                    <li><em>1.Extremely accurate tuner.</em></li>
                    <li><em>2.Precision metronome.</em></li>
                    <li><em>3.Interactive Chord Sheets with real ukulele sounds.</em></li>
                </ol>
                <p class="desc">With Ukulele Toolkit, you can have a mobile tool for ukulele in your pocket, no matter where you are.</p>
            </div>
        </div>
    </div>
    <div class="section section-1">
        <div class="center">
            <div class="intro">
                <h3 class="title">Extremely Accurate Tuner</h3>
                <p class="desc">The chromatic tuner has a quick tune bar and an accurate meter bar. With a beautiful tuning color bar, you can find your current tune in just seconds. Meters can also help to show the current pitch in a more accurate way. It also includes real ukulele string sounds, which you can use to tune by ear. What's more, it is highly accurate (up to ±1/1000 semitone (±0.1 cent) precise).</p>
            </div>
        </div>
    </div>
    <div class="section section-2">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Precision Metronome</h3>
                <p class="desc">The metronome benefits from EUM's RTP ( Real-time Playback) technology, it is extremely precise(±0.2μs).</p>
                <p class="desc">Pendulum mode is just like your old traditional metronome, you can follow the beat easily, even in silent mode. With the help of the dial wheel, changing tempo is really simple.</p>
                <p class="desc">Moreover, it supports flexible Time Signature changing mode, with which you can set any T.S. you like. 7 Built-in tones are also supported.</p>
            </div>
        </div>
    </div>
    <div class="section section-3">
        <div class="center">
            <div class="pic"></div>
            <div class="intro">
                <h3 class="title">Interactive Chord Sheets</h3>
                <p class="desc">The Chord Sheets contain <em>over 100 chords</em>, including Major, Minor, 6, 7, Minor 7, Major 7, Major 9, sus 4.</p>
                <p class="desc">You can not only see the chord sheets, but also hear what they sound like. It is quite useful for beginners to learn chords and advanced users to get inspiration.</p>
            </div>
        </div>
    </div>
    <div class="section section-4">
        <div class="center">
            <div class="pic"></div>
            <a href="http://itunes.apple.com/app/id581273909?ls=1&mt=8" target="_blank" class="link-app-store" title="Download Ukulele Toolkit from APP Store">Available on the App Store</a>
        </div>
    </div>
    {% include "_footer.html" %}
</div>
{% endblock %}
